extends templates/layout

block main 
    include includes/carousel

    main.container
        .destaque 
            h2 Depoimentos 
        
        br
        .container 
            .row 
                .col-xl-3.col-xs-12
                    .imgdepoimento
                        img(src="img/bibilaaa.jpeg" width="150px" height="145px" alt="Ludmila")
                .col-xl-9.col-xs-12
                    h3.titulos_depo Ludmila, 18 anos.
                    p 
                        |"Bom, o NEABI em uma visão geral, foi algo que me fez me abrir mais sobre minha cor, sobre minhas 
                        |origens e sobre até mesmo me aceitar como sou. Quando comecei a participar dos encontros que tinham,
                        |com Gilson, eu fui começando a ver o quão maravilhoso era estar ali, e sentir que mais pessoas como
                        |eu estavam de mãos dadas para nos apoiar. Aceitar quem eu era, com minha cor, com meus cachos, com
                        |meu corpo foi uma das melhores experiências que senti diante ao meu primeiro momento lá. O neabi 
                        |é como se fosse minha casa, que eu chego lá e me sinto totalmente à vontade pra ser quem eu sou, 
                        |sem medo de julgamentos e sem medo de não ser aceita"

            .row    
                .col-xl-3.col-xs-12
                    .imgdepoimento
                        img(src="img/marlon.jpeg" width="150px" height="145px" alt="Marlon")
                .col-xl-9.col-xs-12
                    h3.titulos_depo Marlon, 18 anos.
                    p 
                        |"O NEABI teve um papel importantíssimo no meu afirmamento como homem negro, e me fazendo enxergar até onde posso chegar e estar, 
                        |me mostrando a importância de assumirmos nossa raça e nossa luta. Participar de eventos, projetos e campanhas são coisas que me 
                        |motivam a continuar nessa caminhada e incentivando mais jovens e adultos a fazerem parte desse time que tanto me orgulho. Obrigado 
                        |NEABI-PDF por me proporcionar tanto ensinamento e conhecimentos"    

            .row 
                .col-xl-3.col-xs-12
                    .imgdepoimento
                        img(src="img/mirla.jpeg" width="150px" height="145px" alt="Mirla")
                .col-xl-9.col-xs-12
                    h3.titulos_depo Mirla, 17 anos.
                    p 
                        |"O NEABI do Campus Pau dos Ferros, o qual faço parte, teve um papel importantíssimo na minha aceitação/confirmação enquanto jovem
                        |negra. A partir da minha particiáção no NEABI tive a oportunidade de presenciar diálogos e reuniões com professores
                        |e demais membros do Núcleo e pude entender um pouco mais sobre a luta antirracista. O projeto saindo do armário
                        |realizado em 2019, foi muito importante para mim, pois assim como diz o próprio tema do projeto, a minha participação
                        |nele me fez sentir realmente como se estivesse saindo do armário, me confirmando e aceitando como uma jovem negra"   
            
            .row    
                .col-xl-3.col-xs-12
                    .imgdepoimento
                        img(src="img/pedro_vitor.jpeg" width="150px" height="145px" alt="Pedro")
                .col-xl-9.col-xs-12
                    h3.titulos_depo Pedro, 18 anos.
                    p  
                        |"O NEABI é uma das formas de aquilombamento do povo preto/indígena presente em algumas intuições brasileiras. É uma maneira de se 
                        |articular contra o sistema que é tão duro com essas duas classes oprimidas pela história brasileira.
                        |Laços são criados, de maneira que servidores e alunos esquecem totalmente essa sua condição, tornando todos um só. 
                        |No NEABI a gente encontra refúgio e esperança. No nosso campus, por exemplo, a gente já organizou diversas manifestações através 
                        |desse Quilombo, manifestações essas que mudou a vida de muitos jovens e adultos"   