extends templates/layout 

block main 
    include includes/carousel

    main.container
        .destaque 
            h2 Dúvidas Frequentes 

        br
        .container 
            .row 
                .col-xs-12.col-sm-11 
                    h3 Quem pode participar do NEABI?
                    p 
                        |Podem fazer parte do NEABI os servidores docentes e técnicos-administrativos, estudantes do IFRN, 
                        |integrantes de movimentos sociais, pesquisadores associados e por demais interessados no estudo da 
                        |temática das relações étnico-raciais.
                    
                    h3 Como participar?
                    p 
                        |Para se tornar um integrante do NEABI é 
                        |necessário entrar em contato com o 
                        |coordenador responsável pelo Núcleo do Campus em que deseja participar.

                    h3 Os integrantes tem cargos/ocupações específicas?
                    p À estrutura do Núcleo Local do NEABI compreende:
                        ul
                            li Coordenação;  
                            li Secretaria; 
                            li Grupo de estudos temáticos (para o Núcleo Local);
                            li Membros.
                    
                    h3 Como é composto o Núcleo?
                    p Cada Núcleo Local do NEABI constitui-se em Colegiado de caráter local, com a seguinte composição:
                        ul
                            li I. Dois (2) representantes da equipe técnico-pedagógica, sendo um  titular e um suplente;
                            li II. Dois (2) representantes dos servidores docentes, indicados por seus pares;
                            li III. Dois (2) representantes dos servidores técnico-administrativos, indicados por seus pares;
                            li IV. Dois (2) representantes do corpo discente, indicados por seus pares;
                            li V. Dois (2) representantes da comunidade objeto de estudo do Núcleo, preferencialmente participante 
                                |de movimento social, à convite do Núcleo.
                    
                    h3 Há dias e horários fixos para os encontros do núcleo?
                    p 
                        |Os dias e horários de encontros dos integrantes do Núcleo varia de acordo com o Campus que o NEABI pertence. No Campus Pau Dos Ferros, os encontros costumam ser
                        |quinzenais, entretanto, pode ocorrer uma variação de acordo com os projetos e trabalhos que estão sendo realizados.
                    
                    h3 Quais as responsabilidades dos membros?
                    p
                        ul
                            li Participar das reuniões ordinárias e extraordinárias;
                            li Propor, elaborar, executar e avaliar em conjunto com o coordenador, as atividades do Neabi;
                            li Apresentar demandas, sugestões e propostas que venham a contribuir para elucidar as questões relativas à diversidade étnico-racial;
                            li Auxiliar o coordenador na elaboração do planejamento anual das atividades do Núcleo;
                            li Apresentar e participar das atividades de ensino, pesquisa e extensão desenvolvidas pelo Neabi;
                            li Participar da organização dos eventos do Neabi e divulgar as ações desenvolvidas em eventos científicos e culturais internos e externos.  
                    