extends templates/layout

block main   
    include includes/carousel
    main.container.main_noticias
        .row
            .col-sm-12.text-dark.text-center.my-3
                .destaque
                    h2 Notícias
                            

        section.container-fluid
            .row.justify-content-center
                .col-sm-4.m-4.col-md-4(style="width: 18rem;")
                    .card
                        img.card-img-top(src="img/consciencia negra pau dos ferros.png" width="300px" height="200px" alt="conciencia negra em pdf")
                        .card-body
                            h5.card-title.text-warning V Semana da Consciência Negra acontece de 18 a 21 de novembro
                            p.card-text
                                | Evento traz como tema: "Denegrindo identidades: com quantos adjetivos
                                | mascaram quem você é?"
                            a.btn.btn-warning(href="news/Pau dos Ferros.html") 
                                b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;")
                    .card
                        img.card-img-top(src="img/novembro negro.jpeg" width="300px" height="200px" alt="semana negra em pdf")
                        .card-body
                            h5.card-title.text-warning
                                | Neabi do Campus Pau dos Ferros promove a 1ª Semana da Diversidade Étnica
                                | e da Consciência Negra
                            p.card-text  Evento acontecerá de 17 a 21 de novembro
                            a.btn.btn-warning(href="news/novembro negro.html") 
                                b Visualizar
            
                .col-sm-4.m-4.col-md-4(style="width: 18rem;")
                    .card
                        img.card-img-top(src="img/encontro NEABI.jpeg" width="300px" height="200px" alt="encontro")
                        .card-body
                            h5.card-title.text-warning Núcleos de Estudos Afro Brasileiros e Indígenas realizam encontro
                            p.card-text
                                | Encontro marcou o retorno da formação continuada para servidores
                                | integrantes da rede de NEABI's
                            a.btn.btn-warning(href="news/NEABI realiza encontro.html") 
                                b Visualizar
        
                .col-sm-4.m-4.col-md-4(style="width: 18rem;")
                    .card
                        img.card-img-top(src="img/IV Semana de Negritude Campus PDF.jpeg" width="300px" height="200px" alt="conciencia negra em pdf")
                        .card-body
                            h5.card-title.text-warning
                                | Campus Pau dos Ferros realizará a IV Semana Negritudes e Diversidades,
                                | através do Núcleo de Estudos Afro-Brasileiros e Indígenas (NEABI)
                            p.card-text  Inscrições estão já estão abertas e o evento acontece de 19 a 21 de novembro
                            a.btn.btn-warning(href="news/Campus Pau dos Ferros realizara a IV Semana Negritudes e Diversidades.html")
                                b Visualizar
                    
                .col-sm-4.m-4.col-md-4(style="width: 18rem;")
                    .card
                        img.card-img-top(src="img/III semanada da CN em JC.png" width="300px" height="200px" alt="semana negra")
                        .card-body
                            h5.card-title.text-warning NEABI promove III Semana da Consciência Negra do Campus João Câmara
                            p.card-text
                                | Evento acontece nos dias 22 e 23 de novembro e contará com palestras, apresentações
                                | culturais, exposição de fotografias, entre outros
                            a.btn.btn-warning(href="news/III semana da CN em JC.html")
                                b Visualizar
                
                .col-sm-4.m-4.col-md-4(style="width: 18rem;")
                    .card
                        img.card-img-top(src="img/consciencia negra.png" width="300px" height="200px" alt="logomarca_vencedoraa")
                        .card-body
                            h5.card-title.text-warning
                                | Professora e estudantes destacam a importância do IFRN para se reconhecerem negras
                            p.card-text
                                | Roda de conversa on-line integrou a programação da Semana da Consciência Negra dos campi Canguaretama e Apodi.
                            a.btn.btn-warning(href="news/importancia de se reconhecer negra.html")
                                b Visualizar
            
                    

                             





                         
