extends templates/layout

block main 
    include includes/carousel
    main.container.main_noticias
        .row
            .text-dark.text-center
                .destaque 
                    h2 Notícias 
                
        section.container-fluid
            .row.justify-content-center

                .col-sm-4.m-4.col-md-4(style="width: 18rem;")    
                    .card
                        img.card-img-top(src="img/consciencia negra.png"  width="300px" height="200px")
                        .card-body
                            h5.card-title
                                |Professora e estudantes  
                                |destacam a importância do IFRN para se reconhecerem negras
                            p.card-text
                                |Roda de conversa on-line integrou 
                                |a programação da Semana da Consciência Negra
                            a.btn.btn-warning(href="news/importancia de se reconhecer negra.html") 
                                b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;")  
                    .card
                        img.card-img-top(src="img/exposicao de desenho.jpeg"  width="300px" height="200px")
                        .card-body
                            h5.card-title
                                |Nuarte inicia exposição: Desenho, Pintura e Negritude
                            p.card-text
                                |Núcleo de Arte do Campus São Gonçalo do Amarante promove exposição on line
                            a.btn.btn-warning(href="news/exeposicao de desenhos.html") 
                                b Visualizar
                
                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                    .card
                        img.card-img-top(src="img/novembro negro.jpeg"  width="300px" height="200px")
                        .card-body
                            h5.card-title
                                | IFRN promove o Novembro Negro
                            p.card-text
                                |O evento é organizado pelo Núcleo de Estudos Afro-Brasileiros e Indígenas
                            a.btn.btn-warning(href="news/novembro negro.html") 
                                b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                    .card
                        img.card-img-top(src="img/apodi e canguaretama SCN.jpeg"  width="300px" height="200px")
                        .card-body
                            h5.card-title
                                | Campi Canguaretama e  
                                | Apodi realizam Semana da Consciência Negra
                            p.card-text
                                |Programação já está disponível e faz parte do Novembro Negro do IFRN
                            a.btn.btn-warning(href="news/canguaretama e apodi realizam semanda CN.html") 
                                b Visualizar
                
                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                    .card
                        img.card-img-top(src="img/Guias culturais indigenas.png"  width="300px" height="200px")
                        .card-body
                            h5.card-title
                                | UFRN e IFRN lançam guias culturais  
                                | indígena e afro do Rio Grande do Norte 
                            p.card-text
                                | Evento de lançamento ocorre na página do Facebook IFRN Natal Zona Leste nesta quarta (3), às 19h
                            a.btn.btn-warning(href="news/Guias culturais indigenas.html") 
                                b Visualizar
                
                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                    .card
                        img.card-img-top(src="img/indigenas do RN.jpeg"  width="300px" height="200px")
                        .card-body
                            h5.card-title
                                | Neabi IFRN apoia campanha "Indígenas RN contra o coronavírus"
                            p.card-text
                                | Integrantes das comunidades indígenas estão impossibilitados de trabalhar e precisam de ajuda para  
                                | atravessar este momento
                            a.btn.btn-warning(href="news/Indigenas RN contra o corona.html") 
                                b Visualizar
            
               
                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/Novembro negro relato.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    |Novembro negro: Um relato sobre a segunda edição do evento 
                                p.card-text
                                    |Repleto de atrações artísticas e culturais, a segunda edição do novembro negro do Campus Ipanguaçu
                                    |reflete sobre a diversidade na escola
                                a.btn.btn-warning(href="news/Um relato sobre o Novembro Negro.html") 
                                    b Visualizar
  
                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/consciencia negra pau dos ferros.png"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | V Semana da Consciência Negra acontece de 18 a  
                                    | 21 de novembro
                                p.card-text
                                    |Evento traz como tema: "Denegrindo identidades: com quantos adjetivos mascaram quem você é?"
                                a.btn.btn-warning(href="news/Pau dos Ferros.html") 
                                    b Visualizar
                            
                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/capoeira simbolo.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | Capoeira  
                                    | é praticada como símbolo da consciência negra
                                p.card-text
                                    |Evento promovido no Campus Natal-Zona Leste deu posse a Câmara Setorial da Capoeira do RN
                                a.btn.btn-warning(href="news/Capoeira e praticada como simbolo da consciencia negra.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/Africa ventre do mundo.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | NEABI/ Campus Apodi lança programação da Semana da  
                                    | Consciência Negra
                                p.card-text
                                    |O evento acontece no dia 20 novembro
                                a.btn.btn-warning(href="news/Campus Apodi.html") 
                                    b Visualizar
                            
                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/neabi2.png"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | NEABI leva a júri popular votação para definição  
                                    | do logotipo do Núcleo
                                p.card-text
                                    |Alunos e servidores podem votar eletronicamente até a próxima 
                                    |terça-feira, 19, autenticados no e-mail do Google Sala de Aula
                                a.btn.btn-warning(href="news/juri.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/Encontro Estadual de capoeira.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | Campus realiza Encontro para o fortalecimento da capoeira
                                p.card-text
                                    |Programação inclui posse da Câmara Setorial da Capoeira no RN
                                a.btn.btn-warning(href="news/Campus realiza Encontro para o fortalecimento da capoeira.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/Mulheres Negras movendo o mundo.png"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | Campus promove I Ciclo de  
                                    |  Debates “Mulheres Negras Movendo o Mundo”
                                p.card-text
                                    |Evento acontece no dia 10/9 e abordará da ancestralidade e
                                    |protagonismo negro a partir de Teresa de Benguela
                                a.btn.btn-warning(href="news/Mulheres Negras Movendo o Mundo.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/Dia nacional de Tereza e Benguela.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | NEABI realiza palestra com tema "A  
                                    | mulher negra na literatura" 
                                p.card-text
                                    |A palestra acontecerá na sexta (26)
                                a.btn.btn-warning(href="news/A mulher negra na literatura.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/IV Semana de Negritude Campus PDF.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | Campus Pau dos  
                                    | Ferros realizará a IV Semana Negritudes e Diversidades
                                p.card-text
                                    |Inscrições estão já estão abertas e o evento acontece de 19 a 21 de novembro 
                                a.btn.btn-warning(href="news/Campus Pau dos Ferros realizara a IV Semana Negritudes e Diversidades.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/India.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | Índia supera dificuldades para cursar graduação
                                p.card-text
                                    |Meyriane Costa faz Licenciatura em Educação no Campo em Canguaretama  
                                a.btn.btn-warning(href="news/India supera dificuldades para cursar graduacao.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/III semanada da CN em JC.png"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | NEABI promove III Semana da Consciência Negra do Campus João Câmara 
                                p.card-text
                                    |Evento acontece nos dias 22 e 23 de novembro e contará com palestras, apresentações culturais,
                                    |exposição de fotografias, entre outros
                                a.btn.btn-warning(href="news/III semana da CN em JC.html") 
                                    b Visualizar


                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/Campus Canguaretama.jpg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | NEABI participa da reunião da Rede de Pontos de Memória do RN
                                p.card-text
                                    |A reunião aconteceu na última terça-feira (11/10), 
                                    |na sede da Secretaria de Educação e Cultura do RN.
                                a.btn.btn-warning(href="news/NEABI participa da reuniao da Rede de Pontos de Memoria do RN.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/Etnicos recuperando historias.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | Prorrogada a  
                                    | permanência da exposição “Étnicos: recuperando histórias”
                                p.card-text
                                    |Mostra permanecerá aberta ao público até o dia 13 de julho de 2016
                                a.btn.btn-warning(href="news/Prorrogada a permanencia da exposicao Etnicos recuperando historias.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/dia 21.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    |Neabi promove dia de reflexão em memória da Luta  
                                    |Internacional contra a Discriminação Racial 
                                p.card-text
                                    |O evento acontecerá no dia 23 de março de 2016, das 10h às 22h, no Campus SGA
                                a.btn.btn-warning(href="news/dia de reflexao.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/diversidades, memorias e literatura.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | NEABI promove Seminário Regional de Estudos  
                                    | Afro-Brasileiros e Indígenas: “Diversidade, Memória e Literatura”
                                p.card-text
                                    | As inscrições são gratuitas e podem ser feitas até dia 30 de junho.
                                a.btn.btn-warning(href="news/Seminario regional.html") 
                                    b Visualizar
                
                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/Campus Ceara Mirim e dia da CN.png"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | Campus Ceará-Mirim realiza  
                                    | ações referentes ao Dia da Consciência Negra
                                p.card-text
                                    | Os participantes puderam vivenciar os 
                                    |aspectos da cultura negra através das oficinas.
                                a.btn.btn-warning(href="news/Campus Ceara Mirim realiza acoes referentes ao Dia da Consciencia Negra.html") 
                                    b Visualizar
                
                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/Evento cultura afro brasileira.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | Campus realiza evento sobre cultura afro-brasileira  
                                p.card-text
                                    | Evento é voltado para professores da rede pública de ensino e comunidade acadêmica do IFRN-SGA
                                a.btn.btn-warning(href="news/Campus realiza evento sobre cultura afro brasileira.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/I seminario.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | Seminário discutiu sobre relações étnico-raciais nas  
                                    | ações institucionais
                                p.card-text
                                    | Evento aconteceu nos dias 11 e 
                                    |12 de agosto, no Campus Natal-Central
                                a.btn.btn-warning(href="news/seminario.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/capoeira.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | Núcleo de Estudos  
                                    | Afro-brasileiros e Indígenas realiza reunião para escolha de membros
                                p.card-text
                                    | Os encontros acontecem nesta quinta-feira (31), 
                                    |na sala 81 de instituto, às 12h e às 18h.
                                a.btn.btn-warning(href="news/reuniao para escolha de membros.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/indios.jpeg"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | NEABI abre inscrição para representação de  
                                    | aluno no conselho
                                p.card-text
                                    | Inscrições até hoje
                                a.btn.btn-warning(href="news/NEABI abre inscricao.html") 
                                    b Visualizar

                .col-sm-4.m-4.col-md-4(style="width: 18rem;") 
                        .card
                            img.card-img-top(src="img/pro-reitoria de extensao.png"  width="300px" height="200px")
                            .card-body
                                h5.card-title
                                    | Divulgado resultado final da seleção dos  
                                    | projetos oriundos dos NEABI, NAPNE e NUARTE
                                p.card-text
                                    | Iniciativas visam a realização de ações de promoção do respeito à diversidade, cultura da paz e
                                    |direitos humanos.
                                a.btn.btn-warning(href="news/resultado dos projetos.html") 
                                    b Visualizar