extends templates/layout

block main 
    include includes/carousel

    main.container
        .destaque 
            h2 Quem somos? 

        br 
        .col-sm
            .img_noticias
                img(src="img/neabi.png" width="350px" height="210px" alt="logo")
        
        div 
            div 
                p 
                    |O Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI) é um grupo de trabalho, legalmente
                    |instituído no Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte-IFRN, por
                    |meio da Deliberação nº. 17, de 25 de novembro de 2011, aprovada e emitida pelo Conselho Superior de
                    |Ensino, Pesquisa e Extensão - CONSEPEX – IFRN.
                
                p 
                    |O NEABI é formado por representantes dos alunos, professores, técnico-administrativos e equipe
                    |técnica-pedagógica. É responsável por fomentar e promover ações de natureza sistêmica, no âmbito do
                    |Ensino, Pesquisa e Extensão, que promovam o cumprimento efetivo das Leis 10.639/2003 e a 11.645/2008 e, os
                    |demais instrumentos legais correlatos.
                
                p 
                    |O NEABI é uma iniciativa política, pedagógica 
                    |institucional com o intuito de valorizar as diferentes
                    |manifestações culturais de etnias e segmentos sociais, preservando o direito à diversidade.
                
                p 
                    |As ações do NEABI estão direcionadas para a comunidade interna (alunos/as da Educação Básica,
                    |profissional, e superior) e externa ao IFRN Campus Pau dos Ferros.
                
                h2 
                    strong Finalidades 
                ul
                    li Propor, formenar e realizar ações de ensino, pesquisa e extensão sobre as várias dimensões das
                        |relações étnico-raciais, atendendo às Leis 10.639/03 e 11.645/08 e a legislação coletiva;

                    li Sensibilizar e reunir pesquisadores, professores, técnico-administrativos, estudantes, 
                         |representantes de entidades afins e demais interessados na temática das relações étnico-raciais;

                    li Colaborar e promover, por meio de patrcerias, ações estratégicas no âmbito da formação incial e
                        |continuada dos profissionais do Sistema de Educação do Rio Grande do Norte; 

                    li Contribuir para a ampliação do debate e da abrangência das políticas de ações afirmativas e de
                        |promoção de igualdade racial;

                    li Conduzir e divulgar conhecimentos sobre relações étnico-raciais junto às instituições educacionais, 
                        |sociedade civil organizada e população em geral.