@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
main{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .create{
    background:rgb(214, 214, 15);
    padding:2rem;
    min-width: 500px;
     min-height: 500px;
    box-shadow: 5px 5px 15px rgba(0,0,0,2);
    border-radius:8px;
 }
 .create,p{
     text-align: center;
 }