extends ../templates/layoutnews

block main   
    main.container
        .row 
            h2 NEABI realiza palestra com tema "A mulher negra na literatura"
        .col-sm 
            .img_noticias 
                img(src="../img/Dia nacional de Tereza e Benguela.jpeg" width="350px" height="230px" alt="servidores")
        div 
            div 
                p 
                    |O Núcleo de Estudos Afro-Brasileiros e Indígenas - NEABI/IFRN - convida toda a comunidade
                    |são-gonçalense para homenagem em alusão ao Dia Internacional da
                    |Mulher Negra Latino-Americana e Caribenha e ao Dia Nacional Tereza de Benguela, celebrados no dia 25
                    |de julho. A atividade contará com a presença da poeta,
                    |filósofa e escritora Jeovânia P., a qual ministrará a palestra "A mulher negra na literatura". O
                    |evento acontecerá no dia 26 de julho de 2019, no auditório
                    |principal do Campus, a partir das 15 horas.
                
                p 
                    strong 
                        |Sobre a luta das mulheres negras

                p 
                    |A atividade promovida pelo NEABI do Campus São Gonçalo do Amarante é uma ação vinculada ao Dia
                    |Internacional da Mulher Negra Latino-Americana e Caribenha.
                    |A data surgiu em 1992, durante o 1º Encontro de Mulheres Afro-latino-americanas e Afro-caribenhas,
                    |realizado em Santo Domingo, na República Dominicana.
                    |Na ocasião, foi criada a Rede de mesmo nome e estabeleceu-se o 25 de julho como Dia da Mulher
                    |Afro-Latino-Americana e Caribenha.
                
                p 
                    |Em 2014, a Lei nº 12.987, de 25 de julho de 2014, também institucionalizou nesta data o Dia Nacional
                    |de Tereza de Benguela e da Mulher Negra. Tereza,
                    |líder quilombola do século 18, no Vale do Guaporé, em Mato Grosso, foi um símbolo de resistência e
                    |liderança para as mulheres negras no Brasil.

                p 
                    strong 
                        |Sobre a palestrante
                
                p 
                    |Jeovânia P. tem formação nas áreas de Letras e Filosofia, além de experiência no campo do teatro,
                    |onde dirigiu o espetáculo poético-teatral
                    |"Descontraindo a poesia" (Projeto Aldeia SESC/PB), e da poesia, sendo autora de títulos como
                    |Palavras Poéticas (2016) e Poeticamente Entre
                    |Versos & Bocas, ambos lançados pela editora Ixtlan.
                
                p 
                    |Fonte: Portal IFRN.