extends ../templates/layoutnews 

block main
    main.container
        .row 
            h2 Núcleo de Estudos Afro-Brasileiros e Indígenas (NEABI) promove bate-papo com o fotógrafo Lenilton Lima 
        .col-sm     
            .img_noticias 
                img(src="../img/bate papo com Lenilton.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div
                p
                    |Na manhã de hoje (15), o Núcleo de Estudos Afro-Brasileiros e Indígenas (NEABI) do Campus São Gonçalo
                    |do Amarante do IFRN promoveu um bate-papo com o fotógrafo, antropólogo e ativista do movimento indígena
                    |Lenilton Lima, que foi o responsável pela exposição fotográfica “INDÍGENAS, POTIGUARES E TAPUIAS - AFIRMAÇÃO
                    |DE SUAS IDENTIDADES”.

                p
                    |O encontro ocorreu no auditório do campus e marcou o fechamento das atividades da Semana de Discussão
                    |sobre Consciência Indígena. Duas turmas do Técnico Integrado estiveram presentes e foram acompanhadas
                    |pelos professores Renato Marinho e Joycimara Rodrigues 
                
                p 
                    |Durante o bate-papo, Lenilton discorreu brevemente sobre como suas experiências pessoais contribuíram
                    |para a sua formação profissional e falou um pouco sobre a exposição, a carga histórica por trás de cada
                    |fotografia e das lutas por reconhecimento travadas pelas comunidades locais.
                
                p 
                    |“O bate-papo com o artista permitiu aos discentes uma melhor compreensão dos significados da
                    |exposição, bem como das experiências e interesses que motivaram o autor. Além disso, tivemos através dessa ação do NEABI
                    |mais um espaço de formação para debatermos o preconceito que marca nossa sociedade e que atinge, também, as
                    |comunidades indígenas locais”, acrescenta o professor Renato Marinho.

                p 
                    |Fonte: Portal IFRN.