extends ../templates/layoutnews 

block main 
    main.container 
        .row 
            h2 Programação Campus Canguaretama - Dia da Consciência Negra 
        
        .row_noticias 
            p
                a(href="../arquivos/programacao_campus_canguaretama.pdf") programação_campus_canguaretama.pdf
                |- PDF document, 546 kB (559597 bytes)
            br
            p Fonte: Portal IFRN.
        