extends ../templates/layoutnews  

block main 
    main.container
      .row
        h2 Campus Ceará-Mirim realiza ações referentes ao Dia da Consciência Negra
        p
          | 24/11/2014 - Os participantes puderam vivenciar os aspectos da cultura negra através das oficinas.
      .col-sm
        .img_noticias
          img(src="../img/Campus Ceara Mirim e dia da CN.png" width="350px" height="280px" alt="servidores")
      div
        div
          p
            | Durante os dias 20, 21 e 22 de novembro, foram realizadas no Campus Ceará-Mirim ações para reflexão
            | sobre a inserção do negro na sociedade brasileira. A “Semana da Consciência Negra” foi uma ação
            | extensiva ao Dia Nacional da Consciência Negra, comemorado em 20 de novembro, data da morte de Zumbi, líder do
            | Quilombo dos Palmares, morto no ano de 1695.
          p
            | O evento seguiu com as seguintes programações durante os
            | três dias: Intervenção Poética, Exposição Fotográfica, Sessões de Cinema, Apresentação do Núcleo de
            | Estudos Afro-Brasileiros e Indígenas (NEABI), Palestra sobre a Educação e Matriz Africana e Oficinas
            | de Dança e Confecção de Instrumentos.
            | No sábado, os participantes, alunos e servidores, vestiram-se com
            | roupas características das raízes negras, além de entoarem canções e dançarem músicas peculiares à
            | cultura Africana, tudo demonstrando a riqueza afro-brasileira.
          br
          p Fonte: Portal IFRN.