extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Campus realiza evento sobre cultura afro-brasileira 
            p 30/10/2014 - Evento é voltado para professores da rede pública de ensino e comunidade acadêmica do IFRN-SGA
        .col-sm
            .img_noticias
                img(src="../img/Evento cultura afro brasileira.jpeg" width="350px" height="280px" alt="servidores")
        div
            div
                p 
                    |Nesta sexta-feira (31), às 14h, o auditório do Campus São Gonçalo abrigará a terceira reunião do projeto 
                    |“Diversidade Étnico-Racial: Por Que Estudar Esse Tema na Escola?”, coordenado pela diretora-geral, 
                    |Marilac de Castro, em parceria com o Núcleo de Estudos Afro-Brasileiros e Indígenas (Neabi). 
                    |O evento será composto pela realização de palestras e apresentações culturais relacionadas à influência 
                    |da cultura africana no Brasil.
                p 
                    |O projeto foi iniciado neste mês e tem o objetivo de oportunizar aos professores da rede pública de ensino 
                    |de SGA um espaço de discussão sobre a temática, subsidiando-os com material teórico e auxiliando-os a 
                    |trabalharem essas informações em suas respectivas escolas, de modo que sejam capazes de contribuir para 
                    |a diminuição dos conflitos étnico-raciais no ambiente escolar.
                br
                p   |Fonte: Portal IFRN.
