extends ../templates/layoutnews

block main 
    main.container 
        .row 
            h2 II Semana de Consciência Negra 
            p 13/11/2019 - De 19 a 21 de novembro – confira a programação e participe!
        
        .col-sm 
            .img_noticias 
                img(src="../img/consciencia negra caico.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div
                p 
                    |A II Semana da Consciência Negra, promovida pelo Núcleo de Estudos Afro-brasileiros e Indígenas -
                    |NEABI e demais colaboradores do Campus Caicó do IFRN, será realizada de 19 a 21 de novembro de 2019.
                p 
                    |O referido evento é uma alusão ao Dia da Consciência Negra no Brasil, instituído pela Lei Federal
                    |nº 12.519, de 10 de novembro de 2011, como uma forma de lembrar o dia da morte de Zumbi, líder do
                    |Quilombo dos Palmares, em 20 de novembro de 1695.
                p
                    |Além das ações pedagógicas previstas na nossa organização curricular, a ideia da semana e das
                    |atividades acadêmicas, artísticas e culturais realizadas nessa ocasião é revisitar as nossas raízes
                    |afro-brasileiras, referenciando, por exemplo: a cultura, a religiosidade, a beleza, e outros
                    |elementos da herança negra presentes na nossa sociedade.
                p 
                    |A edição do evento deste ano contará com diversas atividades: palestras, rodas de conversas, exibição
                    |de filmes, exposição de roupas inspiradas na temática afro-brasileira e produzidas pelos alunos,
                    |workshop de beleza negra, exposição de desenhos, apresentações artísticas e culturais.
                p
                    strong Confira a Programação [EM BREVE]
                p
                    strong PARTICIPE! DIVULGUE! 
                
                br
                p
                    strong Não perca tempo! Vagas limitadas!
                p
                    strong Garanta seu certificado de participação:
                p
                    |Workshop - 
                    strong
                        |Maquiagem para peles negras
                    a(href="https://docs.google.com/forms/d/e/1FAIpQLSdAcmJQAVuavqPeH6rOlaUuxpUEf0O4nbEyMg1LqaXvikvOoA/viewform")  INSCRIÇÕES
                p 
                    |20.novembro (quarta-feira) | 19h | Auditório Alex Oliveira | IFRN Caicó
                p
                    a(href="https://docs.google.com/forms/d/e/1FAIpQLSdAcmJQAVuavqPeH6rOlaUuxpUEf0O4nbEyMg1LqaXvikvOoA/viewform") https://forms.gle/UA3H9B9JGuzgJ4jp8 
                
                br
                p
                    strong
                        |Oficina de turbantes
                    a(href="http://https://docs.google.com/forms/d/e/1FAIpQLSdHC9kC_hS0narMiI7T1XVQikQnkCOHphnW5IH49vgDoiWuEw/viewform")  INSCRIÇÕES
                p 
                    |20.novembro (quarta-feira) | 20h | Sala B5 | IFRN Caicó 
                p 
                    a(href="https://docs.google.com/forms/d/e/1FAIpQLSdHC9kC_hS0narMiI7T1XVQikQnkCOHphnW5IH49vgDoiWuEw/viewform") https://forms.gle/2XtJGevvwy9ucxmz6

                br
                p
                    |Palestra interativa -
                    strong 
                        |Os trabalhos de amor e outras mandingas:
                    |a experiência
                    |mágico-religiosa em terreiros de Umbanda.

                    a(href="https://docs.google.com/forms/d/e/1FAIpQLSfYI590zIapAgmMv-dNANfCRqbRKnwJ-S5Zc1uewnzKBUYOZw/viewform") INSCRIÇÕES 
                p 
                    |21.novembro (quinta-feira) | 19h | Auditório Alex Oliveira | IFRN Caicó
                p
                    a(href="https://docs.google.com/forms/d/e/1FAIpQLSfYI590zIapAgmMv-dNANfCRqbRKnwJ-S5Zc1uewnzKBUYOZw/viewform") https://forms.gle/5ehzo16xtYtgSzi4A
                
                br
                p Fonte: Portal IFRN. 

                 
                 