extends ../templates/layoutnews 

block main 
    main.container 
        .row 
            h2 NEABI/ Campus Apodi lança programação da Semana da Consciência Negra
            p 14/11/2019 - O evento acontece no dia 20 novembro
        
        .col-sm 
            .img_noticias 
                img(src="../img/Africa ventre do mundo.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div
                p 
                    |O Núcleo de Estudos Afro-Brasileiros e Indígenas do IFRN - Campus Apodi (NEABI) realiza a
                    |Semana da Consciência Negra 2019 que será realizada no dia 20 de novembro norteada pelo
                    |tema “África, ventre do mundo: Olhares sobre nossa afrobrasilidade".
                p 
                    |O evento terá em sua programação palestras, mesas-redondas, oficinas, exposições, rodas de conversa,
                    |xibição de documentários e atividades culturais com temáticas alusivas à consciência negra.
                p 
                    strong .:PROGRAMAÇÃO
                p 
                    |MANHÃ – 20/11
                p 
                   strong 8h45 Mesa de abertura:
                   |‘OLHARES SOBRE NOSSA AFROBRASILIDADE: vozes da resistência negra e indígena’’(Auditório) 
                p 
                    |Palestrantes: Lúcia Tavares e Nadia Farias
                p 
                    strong 10h às 12h Minicursos
                ul
                    p 
                        li Literatura Negra - Profs. Aline e Lanaiza (Sala 15);
                    p
                        li A questão da negritude na mídia - Profª Leila (Sa la 16);  
                    p 
                        li Gênero e etnia: a condição da mulher negra na contemporaneidade. Profª Nadia Farias (Sala 17);
                    p
                        li Luta negra por direitos civis - Profs. Wagner Rabelo e Raul Santos (Sala 18); 
                    p
                        li Cabelo e identidade sob a ótica das mulheres negras - Julieta Dias e Débora Maria (Sala 22); 
                    p 
                        li Culinária Afroindígena: experimentando os sabores ancestrais - Cleia Macedo (Laboratório de Alimentos);
                    p 
                        li Plantas Alimentícias não convencionais: Profª Renato Alencar (Prédio Adm. Da fazenda-Escola)
                
                p
                    strong 10h Programação Paralela:
                    |Exibição de documentário “Olhos que condenam” Mediação:
                    |Profa.Flávia Marinho (Auditório)
                p 
                    |TARDE – 20/11
                p
                    strong 14h45 Palestra:
                    |OLHARES SOBRE NOSSA AFROBRASILIDADE: Escrita, luta e resistência na
                    |chapada apodiense (Auditório). Maria Auxiliadora. Mediação: Profa. Flávia Marinho
                p
                    strong 16h às 18h: Oficinas 
                ul
                    p
                        li Sobremesas africanas: Elaboração de Qumbe e Mandazi - Profº João Vitor (Laboratório de Alimentos);
                    p
                        li Oficina: Músicalidade Afrobrasileira: Profª Magnaldo (Sala de Música);
                    p
                        li Oficina de Capoeira: Alex Mesquita (Centro de convivência);
                    p
                        li O que elas contam? Profª Nadia Farias (Sala 16)

                p
                    strong 16h Programação Paralela
                    |- Apresentações culturais: Performances (Artes/Profa.
                    |Lucifrance) e documentário (Língua Inglesa/Profa. Wigna) – Local Auditório.
                p 
                    |NOITE – 20/11
                p
                    strong 19h45 Sarau Negro -
                    |Coord. Nádia (Hall de entrada do Campus)

                p   Fonte: Portal IFRN.  

