extends ../templates/layoutnews 

block main 
    main.container 
        .row
            h2 NEABI realiza a V Semana da Consciência Negra do IFRN/João Câmara
            p 13/11/2019 - O evento acontece nos dias 20 e 21 de novembro
        .col-sm
            .img_noticias
            img(src="../img/consciencia negra joao camara.png" width="350px" height="280px" alt="servidores")
        div
            div
                p
                    | O Núcleo de Estudos Afro-Brasileiros e Indígenas do IFRN - Campus João Câmara (NEABI) realiza a
                    | "V Semana da Consciência Negra: trajetórias, resistência e empoderamento". O evento terá em sua
                    | programação palestras, mesas-redondas, oficinas, exposições, rodas de conversa, exibição de
                    | documentários e atividades culturais com temáticas alusivas à consciência negra.
                p
                    strong PROGRAMAÇÃO
                p
                    strong DIA 20/11
                p
                    strong MANHÃ (10:30 às 12:00/ auditório):
                p
                    | - Abertura do evento e mesa-redonda "Minha trajetória educacional e o respeito à diversidade
                    | étnico-cultural", com os ex-alunos Ana Paula Silva (professora da rede pública de ensino) e
                    | José Maria Bernardo (graduando em Arquitetura e Urbanismo/UNP);
                p
                    strong TARDE (13:30-17:00/ auditório): 
                p - Bate-papo com os artistas do projeto "Sarau Quinta das Artes". 
                p
                    strong MANHÃ (10:30-12:00/ pátio principal):
                p
                    | - Mística, videoclipes e curtas, leitura de textos e poemas, roda de conversa e oficina de turbantes
                    | com Aléxia Micaella (ex-aluna do Campus e graduanda em Biologia/UFRN);
                p
                    strong TARDE (13:30-17:00/ auditório):
                p
                    | - Palestra “Entre as raízes do racismo, do sexismo e da desigualdade, florescem vozes negras”, com a
                    | Profª. mestra Julianny Katarine Aguiar de Oliveira (IFRN/Zona Norte).
                p
                    strong Comissão Organizadora: 
                    br
                    |Prof. Me. Pablo Rocha - Coordenador NEABI-IFRN-JC
                    br
                    |Profª. Me. Aurélia Alexandre
                    br
                    |Prof. Me. Dayveson Pereira
                    br
                    |Éliton de Souza Costa - Chefe de Gabinete
                    br
                    |Profª. Drª. Emiliana Soares
                    br
                    |Herisson Melo - ETEP
                    br
                    |Nicholas Sebastian de Araújo - SEAC
                    br
                    |Prof. Me. Renan Ramalho
                    br
                    |Prof. Dr. Tito Matias
                    br
                    |Prof. Me. Yuri Padilha
                    br
                p Fonte: Portal IFRN.   