extends ../templates/layoutnews 

block main 
    main.container 
        .row
            h2 Campus realiza Encontro para o fortalecimento da capoeira 
            p 11/11/2019 - Programação inclui posse da Câmara Setorial da Capoeira no RN
        .col-sm
            .img_noticias
                img(src="../img/Encontro Estadual de capoeira.jpeg" width="350px" height="280px" alt="servidores")
        div
            div
                p
                    |O 
                    a(href="https://ead.ifrn.edu.br/portal/cultura-conheca-o-nucleo-de-estudos-afro-brasileiros-e-indigenas-do-campus-natal-zona-leste/") Núcleo de Estudos Afro-brasileiros e Indígenas (Neabi) do Campus Avançado Natal Zona-Leste 
                    |realiza nesta terça, 12 de novembro, o I Encontro Estadual para o fortalecimento da capoeira como cultura e desporto 
                    |brasileiro. Segundo Fernando Luís Dias Varella, coordenador do Neabi do Campus, o evento tem o objetivo
                    |de "discutir políticas públicas para salvaguardar a modalidade esportiva no Rio Grande do Norte, 
                    |patrimônio imaterial do povo brasileiro registrado pelo Instituto do Patrimônio Histórico e Artístico 
                    |Nacional (Iphan)."
                p
                    strong Atividades
                p O Encontro acontecerá no Auditório Pedro Silveira e Sá Leitão, a partir das 16h, com a seguinte programação:
                ul
                    p
                        li 16h – 17h — Apresentação cultural e acolhimento;
                    p
                        li 17h – 17h30 — Informes;
                
                    p
                        li 17h30 – 18h30 — Estudos do livro ‘Jogo de Discursos - a disputa por hegemonia na tradição da capoeira angola baiana’, 
                            |do pesquisador Paulo Magalhães (contramestre Sem Terra)
                        
                    p
                        li 18h30 – 20h — Mesa-redonda: A capoeira hoje - sua diversidade e ancestralidade em uma perspectiva de 
                            |análise sobre os riscos e possibilidades que permeia a sua salvaguarda; 
                        
                    p
                        li 20h30 — Posse da Câmara Setorial da Capoeira no Rio Grande do Norte (CSC - RN), biênio 2019-2021;
                        
                    p
                        li 20h30 – 22h — 1ª Reunião da CSC – RN, demandas dos capoeiristas para 2020;
                        
                    p
                        li 21h – 21h30 — Roda de capoeira com os mestres presentes.
                br
                p Fonte: Portal IFRN.