extends ../templates/layoutnews  

block main
    main.container
        .row
            h2
            | Campus João Câmara realiza evento “I Diálogos e práticas: discutindo identidade Afro-brasileira”
            p 19/11/2014 - O evento acontece dia 20 de novembro.
        .col-sm
            .img_noticias
                img(src="../img/Campus Joao Camara Semana CN.jpeg" width="350px" height="270px" alt="servidores")
        div
            div
                p
                    | O Núcleo de Estudos Afro-Brasileiros e Indígenas (NEABI) do Campus João Câmara promove a primeira
                    | edição do evento 
                    strong
                    | “Diálogos e práticas” com o tema “discutindo identidade
                    | Afro-brasileira”
                    | .
                p
                    | O evento contará com a participação de membros da comunidade quilombola 
                    strong  Acauã 
                    |(Poço Branco, RN) e do grupo de 
                    strong  capoeira angola Egbé 
                    | (Natal, RN). A proposta do NEABI é promover periodicamente
                    | edições do evento para estimular o diálogo e realizar práticas relacionadas às diversas temáticas que movimentam o núcleo.
                p
                    | O NEABI é um grupo de trabalho formado por representantes dos alunos, professores,
                    | técnico-admistrativos e equipe técnica-pedagógica. Ele é responsável por promover ações de ensino, pesquisa e extensão com
                    | o intuito de valorizar as diferentes manifestações culturais de etnias e segmentos sociais,
                    | preservando o direito à diversidade.
               
                h3 PROGRAMAÇÃO
                p Local: Auditório
                p
                    strong Manhã 
                    |(10h 30min às 12h)
                    br
                    |- Apresentação Musical
                    br
                    |- Roda de conversa com D. Berenice (Comunidade Acauã)
                    br
                p
                    strong Tarde 
                    | (13h às 14h 30min)
                    br
                    |- Apresentação Musical
                    br
                    | - Roda de conversa e capoeira com o grupo Egbé
                    br
                    |- Lanche
                    br
                
                br
                p Fonte: Portal IFRN.
