extends ../templates/layoutnews

block main 
    main.container 
        .row
            h2 Campus Pau dos Ferros realizará a IV Semana Negritudes e Diversidades
            p
                |08/11/2018 - Inscrições estão já estão abertas e o evento acontece de 19 a 21 de novembro
        .col-sm
            .img_noticias
                img(src="../img/IV Semana de Negritude Campus PDF.jpeg" width="350px" height="280px" alt="servidores")
        div
            div
                p
                    | Com o temário “Plantando amor, colhendo resistência”, a 
                    strong
                        | Semana Negritudes e
                        | Diversidades
                    | chega à sua quarta edição.
                p
                    | Segundo o coordenador do Evento, Professor Gilson Rodrigues, o evento objetiva dar visibilidade às
                    | diferentes expressões das negritudes em sua diversidade, em consonância com a importância histórica
                    | de 20 de novembro – dia da morte do líder Zumbi dos Palmares – conjuntamente a uma discussão
                    | interseccional que dialoga com outros segmentos da sociedade.
                p
                    |As inscrições são gratuitas e devem ser feitas via internet através do 
                    a(href="https://doity.com.br/i-semana-de-conscincia-negra-negritudes-e-diversidades") site da Semana
                    | .
                    |O prazo de inscrição teve início hoje (8) e segue aberto até o dia do evento.
                p
                    | O evento é uma realização Campus Pau dos Ferros do IFRN, através do Núcleo de Estudos
                    | Afro-Brasileiros eIndígenas (NEABI) do Campus Pau dos Ferros, contando com apoio do Coletivo Invisível de Teatro.
                p
                    | A programação é aberta à comunidade interna e externa, contando com palestras, mesas redondas,
                    | oficinas,
                    | minicursos, rodas de conversas, apresentações artísticas e culturais. Conheça a programação de 19 a
                    | 21 de novembro:
                p
                    strong SEGUNDA-FEIRA, 19 DE NOVEMBRO
                
                table.table
                    thead
                        tr
                            th HORÁRIO
                            th ATIVIDADE
                            th RESPONSÁVEL
                    tbody
                        tr
                            td 10h30 às 12h
                            td Palestra de abertura: Quem são as “Dandaras” da negritude brasileira.
                            td Mayara Juliana – historiadora (UFRN/EAJ)
                        tr
                            td  16h às 18h
                            td
                                p a) Oficina Turbantes & Tranças
                                p b) Teatro, Conscientização e Empoderamento
                                p c) Oficina Mito em cena
                                p d) Oficina Pintura Indígena:
                            td
                                p a) Waleska Lopes (CRDH-UFRN)
                                p b) Rose Leite (Coletivo Invisível de Teatro)
                                p c) Thulho César (Campus Ceará-Mirim do IFRN)
                                p d) Lúcia Tavares (de Apodi-RN)
                        tr
                            td 19h às 22h
                            td
                                p a) A criação do mundo (versão Iorubana)
                                p b) Grupo Dance e Viva
                                p c) Quebra de Silêncio
                                p d) Colcha de Palhaço
                            td
                                p a) Alunos e alunas do 1º ano do curso técnico em Alimentos (vespertino)
                                p b) Grupo de Dança do Campus
                                p c) Coletivo Invisível de Teatro (Umarizal-RN)
                                p d) Cia. Arte & Riso (Umarizal-RN)
                p
                    strong TERÇA-FEIRA, 20 DE NOVEMBRO
                table.table
                    thead
                        tr
                            th HORÁRIO
                            th ATIVIDADE
                            th RESPONSÁVEL
                    tbody
                        tr
                            td 10h às 12h
                            td
                                p a) Oficina Turbantes & Tranças
                                p b) Teatro, Conscientização e Empoderamento
                                p c) Oficina Mito em cena
                                p d) Pintura Indígena
                            td
                                p a) Waleska Lopes (CRDH-UFRN)
                                p b) Rose Leite (Coletivo Invisível de Teatro)
                                p c) Thulho César (Campus Ceará-Mirim do IFRN)
                                p d) Lúcia Tavares (de Apodi-RN)
                        tr
                            td 16h às 18h
                            td
                                p a) Roda de conversa "Mulheres Negras"
                                p b) Roda de conversa "Juventudes e Negritudes"
                                p c) Roda de conversa "Diversidade Sexual e Raça/Etnia"
                                p d) Roda de Conversa "Comunidades tradicionais"
                                p e) Roda de Conversa "Intolerância Religiosa e Racismo"
                            td
                                p a) Waleska Lopes (CRDH-UFRN)
                                p b) João Carlos (Historiador e Professor da Rede Estadual de Ensino do RN)
                                p c) Mikael(aluno do 3º ano do curso técnico em Apicultura Vespertino)
                                p d) Dona Dasa (Portalegre-RN), João Hellis (IFRN) e Lúcia Tavares (de Apodi-RN).
                                p e) Mazé e Edvan
                        tr
                            td 19h às 22h
                            td
                                p a) Manifesto Negro
                                p b) Festival "Curta Curtinha"
                            td
                                p a) Coletivo Invisível de Teatro
                                p b) Organização do evento
                p
                    strong QUARTA-FEIRA, 21 DE NOVEMBRO
                table.table
                    thead
                        tr
                            th HORÁRIO
                            th ATIVIDADE
                            th RESPONSÁVEL
                    tbody
                        tr
                            td 10h30 às 12h
                            td
                                p a) Manifestações culturais da região
                                p b) Dança de São Gonçalo
                            td
                                p a) Organização do evento
                                p b) Comunidade dos Pegas (RN)
                        tr
                            td 16h às18h
                            td  a) Por uma educação antiracista 
                            td
                                | b) João Carlos (Historiador e Professor da Rede Estadual de Ensino do RN) e Thulho
                                | César (Campus Ceará-Mirim do IFRN)
                        tr
                            td 19h às 22h
                            td Sarau artístico com diferentes apresentações
                            td Alunos e comunidade externa
                p
                    | A Semana Negritudes e Diversidades corresponde à antiga Semana da Diversidade Étnico-Cultural e da
                    | Consciência Negra.
                
                h3 Acesse:
                
                .destaque2
                    a(href="https://doity.com.br/i-semana-de-conscincia-negra-negritudes-e-diversidades"
                        target="_blanck")
                        b Site da IV Semana Negritudes e Diversidades
                br
                p Fonte: Portal IFRN.