extends ../templates/layoutnews

block main 
    main.container 
        .row
            h2 NEABI do Campus Macau realiza evento em alusão ao Dia da Consciência Negra
        .col-sm
            .img_noticias
                img(src="../img/Dia da consciencia negra em Macau.jpeg" width="350px" height="240px" alt="servidores")
        div
            div
                p
                    | Nos dias 20 e 21 de novembro de 2018, o NEABI do Campus Macau realizou atividades alusivas
                    | ao Dia da Consciência Negra.
                p
                    | A palestra intitulada "A Perigosa Ideia de Darwin: teoria evolutiva, racismo e escravidão",
                    | ministrada pelo Prof. Dr. Kaiser Dias Schwarcz, ocorreu na terça-feira (20) no auditório do campus.
                    | A palestra teve início às 14:30 e foi reapresentada às 19:30.
                p
                    | Já na quarta-feira (21) o NEABI promoveu uma mesa redonda intitulada "O protagonismo negro nas
                    | ciências, artes e tecnologias", contando com a participação dos professores: Arthur Torquato,
                    | Kaiser Dias Schwarcz, Leandro Lispector, Leandro Miranda e Lucilene Ramos, contamos ainda com
                    | as contribuições do pedagogo Hércules Alencar. A mesa redonda ocorreu no auditório do Campus e
                    | teve início às 14:30.
                .destaque2
                    a(href="https://www.facebook.com/media/set/?set=a.2396728570354629&type=1&l=41b21e9489"
                            target="_blanck")
                    b Fotos do evento
                
                br
                p Fonte: Portal IFRN.