extends ../templates/layoutnews

block main 
    main.container 
        .row
            h2 Campus promove a I Semana da Consciência Negra
            p 03/12/2015 - O evento ocorreu no período de 20 a 26 de novembro 
        .col-sm
            .img_noticias
                img(src="../img/Campus promove a I Semana da Consciência Negra.jpeg" width="350px" height="280px"
                    alt="servidores")  
        div
            div
                p 
                    |Entre os dias 20 e 26 de novembro, o IFRN Parelhas, através do Núcleo de Estudos Afro-brasileiros e
                    |Indígenas (NEABI), em parceria com a comunidade “Negros da Boa Vista”, Ponto de Cultura e a
                    |Secretaria Municipal de Assistência Social de Parelhas, promoveu a I Semana da Consciência Negra.
                p 
                    |Em 21 de novembro, o professor de Sociologia José Cleyton esteve presente na comunidade “Negros da
                    |Boa Vista” para divulgar as formas de ingresso nos cursos ofertados no IFRN Parelhas e palestrar sobre a
                    |política de cotas sociais e raciais deste Instituto.
                p
                    |Nos dias 23, 24 e 25 de novembro, o ponto de cultura de Parelhas, com o apoio dos professores José
                    |Cleyton e João Paulo, professor de História, realizou diferentes atividades pedagógicas de
                    |enfrentamento à discriminação étnico-racial nas escolas municipais e estaduais da região.
                p 
                    |A culminância do evento foi realizada no dia 26, com uma aula interdisciplinar de Sociologia, Língua
                    |Portuguesa e História. Na ocasião, o professor de Língua Portuguesa, Kléber Santos, comentou sobre a
                    |presença da cultura africana na formação da literatura brasileira, após a narração de uma história
                    |realizada por Jeane Azevedo, membro do Ponto de Cultura de Parelhas. Em seguida, houve a
                    |apresentação do grupo “Afroreggaeiros” da comunidade Boa Vista e um bate-papo com Preta, liderança da comunidade
                    |Boa Vista, o professor de História, o pesquisador Sebastião e os alunos do IFRN Parelhas.
                br
                p Fonte: Portal IFRN.  