extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Campi Canguaretama e Apodi realizam Semana da Consciência Negra
            p 12/11/2020 - Programação já está disponível e faz parte do Novembro Negro do IFRN
        .col-sm
            .img_noticias
                img(src="../img/apodi e canguaretama SCN.jpeg" width="350px" height="280px" alt="servidores")
        div
            div
                p 
                    |Com o objetivo principal de lutar contra o racismo estrutural, o Núcleo de Estudos Afro-Brasileiros 
                    |e Indígenas (Neabi) do IFRN realiza, de 16 a 20 de novembro, mais uma edição da Semana da Consciência 
                    |Negra. Com programações divididas por pólos, a dos campi Canguaretama e Apodi já está disponível. Os 
                    |interessados podem conferir e se inscrever através do  
                    a(href="https://dougmns12.github.io/semana-da-consci-ncia-negra-canguaretama.github.io/" target="_blanck") site do evento 
                    |.
                p
                    |Neste ano, o tema é "Cores, lutas e palavras: práticas antirracistas e representatividade negra". 
                    |A Semana conta com minicursos, palestras, rodas de conversa e o festival de curtas Minuto de Consciência. 
                    |Podem participar do festival todos os estudantes regularmente matriculados nos campi Canguaretama e Apodi. 
                    |Os curtas devem ter entre 30 e 60 segundos. As inscrições estão abertas até 13 de novembro, também pelo 
                    a(href="https://dougmns12.github.io/semana-da-consci-ncia-negra-canguaretama.github.io/" target="_blanck") site da Semana
                    |. 
                p 
                    |Todas as atividades vão ser realizadas de forma on-line e os links de acesso serão disponibilizados no 
                    |site. Os certificados de participação vão ser emitidos a partir de lista de frequência. "O evento faz 
                    |parte de um conjunto ações que serão realizadas nos mais diversos campi do Instituto, constituindo 
                    |o Novembro Negro do IFRN", explica a coordenadora do Neabi Canguaretama, a professora Giulia Melo.
                p 
                    |Além de Giulia, fazem parte da organização do pólo Canguaretama-Apodi as professoras Aline Silva, Ana 
                    |Cristina, Daniela Cândido, os professores Felipe Ferreira e Nilton Xavier e os estudantes Douglas Nunes, 
                    |Eduarda Amorim, Mateus de Lima, Samara Coutinho e Yohana Moreira. Na página inicial do evento, eles 
                    |emitiram o seguinte manifesto: "estamos aqui. Todos nós resistindo a esse contexto tão adverso, não 
                    |só em relação aos problemas de saúde pública, mas também aos vários retrocessos levados a cabo pelas 
                    |visões e pelos projetos reacionários de sociedade que tomaram de assalto as instituições políticas mundo 
                    |afora. É contra o racismo estrutural que obedecemos ao imperativo da memória ao fazermos dessa comemoração, 
                    |alusiva à Consciência Negra, mais um ato de resistência". 
                br
                p
                    strong  Acesse: 
                .destaque2
                    a(href="https://dougmns12.github.io/semana-da-consci-ncia-negra-canguaretama.github.io/" target="_blanck")  Semana da Consciênica Negra - Campi Canguaretama e Apodi 
                br    
                p Fonte: Portal IFRN.