extends ../templates/layoutnews 

block main 
    main.container 
        .row
            h2 Capoeira é praticada como símbolo da consciência negra
            p 20/11/2019 - Evento promovido no Campus Natal-Zona Leste deu posse a Câmara Setorial da Capoeira do RN
        .col-sm
            .img_noticias
                img(src="../img/capoeira simbolo.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div
                p 
                    |Reportagem: Laurence Campos / Nathalia Souza
                p 
                    |O berimbau ecoa, a roda se forma e os corpos, flexíveis, mostram uma dança harmônica e cheia de identidade. 
                    |Arte para alguns e esporte para outros, a capoeira é, na verdade, a representação imaterial da resistência 
                    |de um povo que teve gingado para se esquivar da opressão: usar instrumentos musicais e cantos africanos 
                    |foi a única forma que os escravos encontraram para fingir que estavam dançando - mas, na verdade, eles 
                    |estavam praticando uma luta física trazida da sua terra, passando despercebidos pelos grandes senhores 
                    |de engenho.
                p
                    |Aos poucos, o combate trazido pelos africanos foi ficando como é hoje: gingado, como o povo negro. Com 
                    |apenas 4 anos, o corpo mole de Paulo Davi já é recebido com orgulho na roda de capoeira do Grupo 
                    |Berimbaus do Oeste, sob as ordens do mestre Gildeão. Para o pai Francisco Neto, ex-professor de capoeira, o 
                    |interesse do filho pela arte desde os 2 anos é a representação do orgulho negro pela sua história: 
                    |"eu tive que deixar a capoeira depois do meu segundo infarto, mas hoje eu vejo meu filho tão pequeno 
                    |já imitando os grandes capoeiristas. É uma surpresa e um orgulho pra mim", conta, emocionado.
                p 
                    |O pequeno Davi viaja o país para apresentar a capoeira. Na última semana, ele veio a Natal para participar 
                    |do I Encontro Estadual para o Fortalecimento da Capoeira como Cultura e Desporto Brasileiro, organizado 
                    |pela Salvaguarda da Capoeira no RN com o apoio do Núcleo de Estudos Afro-brasileiros e Indígenas do 
                    |Campus Avançado Natal - Zona Leste do IFRN (NEABI-ZL). Ao todo, mais de 50 capoeiristas de todo o estado 
                    |participaram do evento, que aconteceu no dia 12 de novembro.
                p
                    strong Sobre o Encontro
                p
                    |O I Encontro Estadual para o Fortalecimento da Capoeira foi aberto com uma roda de capoeira na área 
                    |externa do Auditório Pedro Silveira e Sá Leitão, localizado no Campus Natal-Central do IFRN. No palco, 
                    |os capoeiristas tocaram e cantaram, com os berimbaus, o Hino Nacional Brasileiro. 
                p
                    |Durante o evento, tomou posse a Câmara Setorial da Capoeira do Rio Grande do Norte (CSC-RN) para o biênio 
                    |2019 - 2021, a ser presidida por Nivaldo Freire da Silva (Mestre Arrepio), pedagogo e diretor fundador 
                    |do Memorial da Capoeira. Para ele, o momento é de felicidade e esperança após anos tentando conseguir 
                    |junto ao Governo do Estado a abertura de negociações por fomentos que auxiliem a sobrevivência da 
                    |capoeira. “Nossa luta não se restringe somente à Semana da Consciência Negra, mas diariamente. 
                    |São centenas de anos que lutamos por um direito nosso”, afirma Nivaldo. Na ocasião, também foram 
                    |apresentados os 11 integrantes titulares da Câmara.
                p 
                    |A programação do evento trouxe também uma mesa redonda com o tema “A capoeira hoje”, que discutiu 
                    |obstáculos e projetos desenvolvidos em escolas da rede pública do nosso estado. O jornalista e 
                    |escritor Paulo Magalhães, conhecido como Mestre Sem Terra, apresentou seu livro “Jogo de Discursos – 
                    |A disputa por hegemonia na tradição da capoeira angola-baiana”, que faz comparações entre a Capoeira 
                    |Angola e a Capoeira Regional.
                p
                    |Segundo Fernando Varella, coordenador do NEABI-ZL, desde 2014 os capoeiristas vem lutando em busca de 
                    |visibilidade e políticas públicas que favoreçam a expressão cultural da capoeira, que já ofereceu muitas 
                    |chances a jovens em situação de risco: “é a primeira vez que a capoeira tem um órgão junto ao Governo 
                    |do Estado. Isso possibilita a implementação nas escolas e oportunidades de emprego para capoeiristas”. 
                p 
                    |Participaram ainda do evento o coordenador da Fundação José Augusto, Aluísio Matias dos Santos, e o 
                    |Diretor-Geral Pro-Tempore do Campus Natal – Zona Leste, José Roberto dos Santos.
                p
                    strong Sobre a capoeira
                p 
                    |A capoeira é uma das expressões culturais mais antigas do Brasil. Trazida ao Brasil no século XVII 
                    |por escravos africanos, foi proibida até o ano de 1937. Hoje, ela é reconhecida como Patrimônio 
                    |Imaterial Brasileiro (Iphan, 2008) e tem como uma das suas maiores representações a Roda de 
                    |Capoeira, Patrimônio Imaterial da Humanidade (Unesco, 2014).
                br
                p |Fonte: Portal IFRN.