extends ../templates/layoutnews

block main 
    main.container 
        .row
            h2 Campus lança concurso para escolha da logomarca do NEABI
        .col-sm 
            .img_noticias
                img(src="../img/concurso logomarca NEABI-NC.jpeg" width="340px" height="250px" alt="logo NEABI")
        
        .row
            .col-xs-12.col-sm-11 
                p 
                    |A Direção Geral do IFRN Campus Nova Cruz torna pública a abertura das inscrições do concurso para 
                    |escolha da Logomarca do Núcleo de Estudos Afro Brasileiros e Indígenas - NEABI do Campus.
                p
                    |A inscrição dar-se-á no período de 12 a 20 de janeiro de 2015, por e-mail (
                    a(href="mailto:cocsev.nc@ifrn.edu.br") cocsev.nc@ifrn.edu.br)
                    |.
                p Para a inscrição será necessário enviar um e-mail, para o endereço supracitado contendo: 
                ul
                    li A logomarca nos formatos Corel Draw (.cdr) versão X5 e Joint Photographics Experts Group (.jpeg);
                    li A Ficha de Inscrição preenchida;
                    li O Termo de Cessão de Direitos Autorais assinado. 
                p
                    |Confira o edital
                    a(href="../arquivos/Ed. 39_2014-DG_NC -Escolha da Logomarca do NEABI (2).pdf") aqui 
                    |. 
                br
                p Fonte: Portal IFRN.