extends ../templates/layoutnews 

block main 
    main.container 
        .row
            h2 NEABIs Apodi e Canguaretama divulgam edital de concurso de logomarca 
                |para evento da Consciência Negra 2020.
            p 07/10/2020 - O envio de propostas se encerra no dia 11 de outubro 
        .col-sm
            .img_noticias
                img(src="../img/logomarca_vencedoraa.png" width="340px" height="270px" alt="logo vencedora do NEABI")
        
        div
            p
                |Os Núcleos de Estudos Afro-brasileiros e Indígenas (NEABI) dos Campi Apodi e Canguaretama do Instituto 
                |Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte (IFRN) tornam público o concurso para 
                |seleção da identidade visual do evento “Semana da Consciência Negra: Cores, lutas e palavras: práticas 
                |antirracistas e representatividade negra”, regulamentado pelas normas apresentadas no edital em  anexo 
                |ao final desta notícia. 
            p 
                |O concurso, do qual poderão participar todos os alunos regularmente matriculados nos campi Apodi e 
                |Canguaretama do IFRN, tem como objetivo selecionar uma identidade visual (logomarca e borda parcial) 
                |para o evento Semana da Consciência Negra, que realizar-se-á de 17 a 20 de novembro de 2020, com 
                |programação conjunta e em formato exclusivamente virtual.
            p
                |A inscrição será gratuita e dar-se-á através do site 
                a(href="https://doity.com.br/concursologomarcasemana-da-consciencia-negra") https://doity.com.br/concursologomarcasemana-da-consciencia-negra 
                |, seguindo o cronograma: 

                table.table
                    thead
                        tr
                            th AÇÃO
                            th PERIODO
                    tbody
                        tr
                            td Início das inscrições e envio das propostas.
                            td 05 de outubro de 2020
                        tr
                            td Término das inscrições e envio das propostas.
                            td 11 de outubro de 2020
                        tr
                            td Verificação de adequação das propostas.
                            td 13 de outubro de 2020
                        tr
                            td Apresentação das propostas – Instagram
                                |NEABI CANG
                            td 14 de outubro de 2020
                        tr
                            td Julgamento das propostas – Instagram NEABI
                                |CANG
                            td 14 de outubro de 2020
                        tr
                            td Divulgação do resultado – Instagrans NEABI
                                |CANG e NEABI APODI
                            td Entre 16 e 17 de outubro de 2020
                        tr
                            td Envio do certificado e da premiação
                            td Após o(a) vencedor(a) realizar o envio dos arquivos gráficos – de acordo com os tópicos 3.3 e 5.4.
                p Dúvidas e quaisquer problemas não previstos no regulamento deverão ser encaminhados 
                    |aos e-mails neabi.ap@ifrn.edu.br ou neabi.cang@ifrn.edu.br .
                p
                    strong Acesse:
                .destaque2 
                    a(href="https://portal.ifrn.edu.br/campus/apodi/arquivos/regulamento-1"
                    target="_blanck") 
                        b REGULAMENTO 
                br
            p Fonte: Portal IFRN.
                                     
                                 
        