extends ../templates/layoutnews 

block main 
    main.container 
        .row
            h2 Concurso para definição do logotipo do NEABI encerra inscrições na próxima quinta-feira (31)
        .col-sm-12
            .img_noticias
                img(src="../img/neabi2.png" width="340px" height="270px" alt="logo vencedora do NEABI")
        
        .row_noticias 
            .col-xl-8.col-sm-12
                p 
                    |Encerra na próxima quinta-feira, 31, o prazo para submissão de propostas de logotipo para o Núcleo 
                    de Estudos Afro-brasileiros e Inídigenas, o NEABI.
                p
                    |Qualquer aluno (a) com matrícula ativa no Campus Pau dos Ferros do IFRN pode enviar propostas que
                    |atendam aos requisitos estabelecidos no
                    a(href="https://portal.ifrn.edu.br/campus/paudosferros/arquivos/regulamento-concurso-logotipo-neabi"
                        target="_blanck")  regulamento
                    |. 
                p
                    |A avaliação e seleção das propostas acontecem em duas etapas. A primeira se dará através de eleição
                    |por juri popular com votação on-line e, a segunda; por meio de avaliação de banca examinadora, que
                    |levará em conta critérios como: 
                    strong representatividade, objetividade, criatividade, síntese e
                    |aplicabilidade.
            .row_noticias
                p 
                    |A votação on-line de júri popular e técnica acontecem de 11 a 19 de novembro, de acordo com
                    |cronograma no Anexo II do regulamento. O resultado final deverá ser publicado até o dia 20 de
                    |novembro de 2019 no portal do Campus Pau dos Ferros do IFRN.
                p 
                    |O (a) autor (a) do melhor trabalho receberá certificado e premiação especial contendo kit escolar,
                    |pendrive, bolsa para notebook, caneca de porcelana oficial do IFRN e certificado de vencedor (a) do
                    |concurso.
                h3 Acesse: 
                .destaque2 
                    a(href="https://portal.ifrn.edu.br/campus/paudosferros/arquivos/regulamento-concurso-logotipo-neabi"
                        target="_blanck") 
                        b REGULAMENTO 
                .destaque2 
                    a(href="https://docs.google.com/forms/d/e/1FAIpQLSfy_VsEHxBguuE5p3mtEdmMqJrCpEJ7vMFFAyaygmv3LFvhOQ/viewform?edit_requested=true"
                        target="_blanck") 
                        b FÓRMULARIO DE INSCRIÇÃO
            .row_noticias
                p Fonte: Portal IFRN 