extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Campus Natal-Central realiza conferência "Negritudes e Cidades"
            p Evento acontece dia 20 de novembro, no Campus Natal-Central
        .col-sm
            .img_noticias
                img(src="../img/Negritudes e cidades.jpeg" width="350px" height="280px" alt="servidores")
        div
            div
                p
                    | O Núcleo de Estudos Afro-Brasileiros e Indígenas (NEABI) do Campus Natal Central realiza a conferência
                    | “Negritude e Cidades”, dia 20 de novembro, às 16h30, no miniauditorio da DIAC.
                p
                    | A conferência será proferida pelo professor e escritor Anelito de Oliveira, Doutor em Literatura
                    | Brasileira pela USP e Professor do Centro de Ciências Humanas da Unimontes. Na ocasião, algumas de
                    | suas publicações serão apresentadas.
                p
                    | O evento é aberto aos alunos e servidores do IFRN. Mais informações por meio do telefone 4005-9863.
                p
                    strong Período:
                    |  de 20/11/14 a 20/11/14
                p
                    strong Página:
                p
                    a(href="https://portal.ifrn.edu.br/campus/reitoria/noticias/campus-natal-central-realiza-conferencia-201cnegritude-e-cidades201d")
                        | http://portal.ifrn.edu.br/campus/reitoria/noticias/campus-natal-central-realiza-conferencia-201cnegritude-e-cidades201d
                p Fonte: Portal IFRN.