extends ../templates/layoutnews

block main
    main.container
        .row
            h2 Semana da Consciência Negra tem programação divulgada
            p 22/11/2018 - O evento acontece a partir de segunda-feira (26) no Campus Natal-Cidade Alta
        .col-sm
            .img_noticias
                img(src="../img/CN Natal Cidade Alta.jpeg" width="350px" height="280px" alt="servidores")
        div
            div
                p
                    | Acontece a partir de segunda-feira (26), a Semana da Consciência Negra no IFRN Natal-Cidade Alta.
                    | O evento oferece gratuitamente propostas de oficina, palestra, exibições de filmes,
                    | apresentações de teatro e shows musicais.
                p
                    | O objetivo da Semana é compartilhar conhecimentos da cultura afro-brasileira, para promover a
                    | conscientização dos estudantes e dar visibilidade a importância do empoderamento negro.
                p
                    | A abertura do evento acontece no dia 26 de novembro, com a apresentação da Nação Zambêracatu,
                    | às 11h45 no pátio da Unidade Rocas. A programação segue na Unidade Cidade Alta, com roda de
                    | capoeira e exibição de vídeo, a partir das 18h.
                p
                    | A Semana da Consciência Negra acontece até o dia 30 de novembro, nas duas unidades do campus.
                    | A ação é idealizada pelo Núcleo de Arte (Nuarte) do IFRN, em conjunto com o Núcleo de Estudos
                    | Afro-brasileiros e Indígenas (Neabi) e o Grêmio Café Filho.
                .destaque2
                    a(href="Programacao da Semana da Consciencia Negra Natal  CA.html"
                        target="_blanck")  PROGRAMAÇÃO  
                p Fonte: Portal IFRN.