extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 A Direção Geral do IFRN/SGA e o NEABI convida a todos para participar de minicurso sobre a Questão Indígena no Nordeste Brasileiro.
        .col-sm
            .img_noticias
                img(src="../img/minicurso.jpeg" width="340px" height="355px" alt="servidores")
        div
            div
                p
                    | A Direção Geral do campus São Gonçalo do Amarante junto ao Núcleo de Estudos Afro-Brasileiros e Indígenas do IFRN
                    | (NEABI) convida a todos para participar do minicurso "Questão Indígena no Nordeste Brasileiro: Cultura,
                    | organização política e luta pelo direito à proteção do território".
                p
                    | O evento contará com a presença do palestrante Antônio Carlos Barros (Povo Pankaruru - Pernambuco) e correrá no
                    | dia 23 de outubro de 2015, sexta-feira, das 8h às 12h, no Auditório da Superintendência da Infra-estrutura, que
                    | fica em frente ao Restaurante Universitário (RU), na UFRN.
                br
                br
                
                p Fonte: Portal IFRN.