extends ../templates/layoutnews  

block main 
    main.container
        .row_noticias
            h2 Neabi promove dia de reflexão em memória da Luta Internacional contra a Discriminação Racial
        .col-sm
            .img_noticias
                .img_noticias
                    img(src="../img/dia 21.jpeg" width="340px" height="250px" alt="dia internacional da luta contra a discriminação racial")
        .row_noticias
        p
            | O grupo do Núcleo de Estudos Afro-brasileiros e Indígenas (Neabi) do IFRN -  Campus São Gonçalo do
            | Amarante, irá promover um dia de  "Ação de Enfrentamento ao Racismo em memória aos dias 21 e 25 de
            | Março, Dia Internacional de luta contra a Discriminação Racial e pelas vítimas da Escravidão e do
            | Comércio Transatlântico de Escravos".
        p
            | O evento acontecerá no dia 23 de março de 2016, das 10h às 22h, no Campus SGA. A programação conta
            | com apresentações culturais, Cine Sérvulo: Mostra de Filmes com temática Afro-ameríndia, roda de
            | conversa com professores, apresentação teatral "Nos berços da humanidade", oficinas culturais, apresentação
            | da banda Nego Zambi e muito mais.
        p
            | Será um dia de reflexão e vivência alusivo ao Dia Internacional de luta contra a Discriminação
            | Racial. Os participantes poderão particiar das  oficinas de Turbantes, Batuques e Filtro dos
            | sonhos. Serão disponibilizadas 20 vagas por oficina.O evento é gratuito e é extensivo a comunidade.
        h2 Acesse:
        .destaque2
            a(href="https://docs.google.com/forms/d/1rcS7QL3H6UeUwcQlMS47mkV9Bw1V3WHrEwJAXt0Yon4/closedform" target="_blanck")
                b FORMULÁRIO DE INSCRIÇÃO NAS OFICINAS
        .destaque2
            a(href="https://portal.ifrn.edu.br/campus/saogoncalo/arquivos/programacao-neabi")
                b PROGRAMAÇÃO
        .destaque2
            a(href="https://www.facebook.com/neabiifrnsga/" target="_blanck")
                b PÁGINA DO NEABI - IFRN CAMPUS SÃO GONÇALO DO AMARANTE
        br
        p Fonte: Portal IFRN.