extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 A Diretora Geral do IFRN/SGA participa de sua última reunião como coordenadora do NEABI
        .col-sm
            .img_noticias
                img(src="../img/diretora geral.jpeg" width="350px" height="250px" alt="servidores")
        div
            div
                p
                    | O Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI) do IFRN - Campus São Gonçalo do Amarante, apresentou na manhã desta quarta-feira (25) o novo coordenador
                    | do núcleo. A Diretora Geral do IFRN/SGA participou de sua última reunião como coordenadora do NEABI. Na ocasião foi apresentado o novo coordenador, Adriano Dantas,
                    | que faz parte da equipe técnico pedagógica do Campus SGA. Os integrantes do núcleo realizaram o planejamento das ações do NEABI no Instituto e na comunidade para o ano 2016.
                p
                    | A pauta da reunião foi a organização do evento "Os Estudos Afro-brasileiros e o Terecô de Codó" que acontecerá no próximo dia 31/05, no IFRN/SGA, a partir das 19h. No evento acontecerá
                    | a mesa de conversa sobre os estudos afro-brasileiros e lançamento do livro "Terecô de Cadó - Uma religião a ser descoberta" do pesquisador maranhense Cícero Centriny.
                br
                p Fonte: Portal IFRN.