extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 NEABI-MO promove discussão sobre a cultura negra e seus desafios
        .col-sm
            .img_noticias
                img(src="../img/discussao sobre cultura negra.jpeg" width="350px" height="230px" alt="servidores")
        div
            div
                p
                    | O Núcleo de Estudos Afro-Brasileiros e Indígenas – NEABI promoveu na manhã desta segunda-feira (17), uma roda de discussão com o intuito de apresentar,
                    | aos alunos novatos, os objetivos, as atribuições e a importância deste núcleo para estimular debates relacionados a preservação da cultura negra e indígena,
                    | dentro da instituição.
                p
                    | Sob a coordenação da psicóloga Glaudênia Alves, foi realizada a apresentação de uma roda de coco, com a participação de alunos do NUARTE – Núcleo de Arte e
                    | dos artistas mossoroenses Farofa e Escravo.  Segundo Glaudênia, “a roda de coco é uma forma de preservar e fortalecer as nossas raízes”. Durante a manhã,
                    | ainda houve uma apresentação teatral com o tema violência contra a mulher negra, que envolveram os alunos veteranos: Tamara, Alisson, Vinícius, Silas e Kauany.
                    | As atividades culminaram com uma mesa-redonda, onde foi debatido e relatado as dificuldades e os preconceitos enfrentados pelos negros no Brasil.
                p
                    | Kauany, aluna do Instituto e participante ativa do Núcleo, deixa claro que o núcleo se faz importante “Por trazer o conhecimento, o acesso a falar sobre a negritude.
                    | Porque temos muito o que falar sobre essa questão, que faz parte do nosso cotidiano. A gente precisa parar, discutir e problematizar”
                p
                    | No encontro, foi reiterado sobre a importância do Núcleo para a instituição, que tem em seu Projeto Político Pedagógico discutir entre os discentes a
                    | diversidade, seja ela religiosa, sexual, racial, cultural ou de qualquer natureza.
                p Fonte: Portal IFRN.