extends ../templates/layoutnews 

block main 
    main.container
        .row 
            h2 A Direção Geral do Campus SGA convida os membros do NEABI para encontro nesta sexta-feira (12)
        .col-sm
            img_noticias
                img(src="../img/neabi.jpeg" width="350px" height="230px" alt="servidores")
        div
            div
                p 
                    |Os membros do Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI), do Campus São Gonçalo do Amarante, estão convidados para 
                    |um encontro que ocorrerá na próxima sexta-feira (12), às 8h30, no IFRN/SGA.</p>
                    
                p 
                    |O encontro terá como pauta o planejamento da proposição a respeito do Dia Internacional contra a Discriminação Racial, 
                    |estabelecido pela Organização das Nações Unidas (ONU), e comemorado em 21 de março.
                p 
                    |Fonte: Portal IFRN.