extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Encontro discutirá políticas públicas para preservação da Capoeira 
            p 08/11/2019 - Evento será no próximo dia 12/11, às 16h, no CNAT
        .col-sm
            .img_noticias
                img(src="../img/I Encontro Estadual de Capoeira.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div
                p
                    | No próximo dia 12/11, o auditório do Campus Natal-Central (CNAT), Pedro Silveira e Sá Leitão, vai sediar
                    | o “Encontro Estadual para o Fortalecimento da Capoeira como Cultura e Desporto Brasileiro”. O evento,
                    | que visa discutir políticas públicas para preservar a capoeira enquanto patrimônio imaterial do povo
                    | brasileiro, é voltado às comunidades interna e externa.
                p
                    | O encontro, que terá mesa-redonda com a participação dos mestres do Rio Grande do Norte, contará com a
                    | presença do pesquisador Paulo Magalhães (Contramestre Sem Terra), que é diretor de Comunicação do
                    | Conselho Gestor da Salvaguarda da Capoeira, na Bahia.
                p
                    | O evento terá programação a partir das 16h, com acolhimento e apresentação cultural. Na ocasião,
                    | haverá a mesa redonda com o tema “A Capoeira hoje, sua diversidade e ancestralidade, em uma perspectiva
                    | de análise sobre os riscos e as possibilidades que permeiam a sua salvaguarda”.
                p
                    | Durante o encontro, haverá ainda a Posse da Câmara Setorial da Capoeira no Rio Grande do Norte
                    | (CSC-RN – Biênio 2019-2021). O evento tem o apoio do Campus Natal-Central do IFRN, da Fundação
                    | José Augusto, do Instituto do Patrimônio Histórico e Artístico Nacional (IPHAN) e do NEABI-IFRN,
                    | do Campus Natal Zona Leste.
                br
                p Fonte: Portal IFRN.