extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Núcleo de Estudos Afro-brasileiros e Indígenas do Campus Currais Novos realiza evento em alusão ao Dia do Índio
        .col-sm
            .img_noticias
                img(src="../img/dia do indio.jpeg" width="350px" height="280px" alt="servidores")
        div
            div
                p 
                    |A roda de conversa intitulada “Dia do Índio: breves discussões sobre apropriação cultural”, promovida pelo Núcleo de Estudos Afro-brasileiros e Indígenas 
                    |(NEABI) do Campus Currais Novos, reuniu estudantes e professores no auditório Campus do IFRN-CN na tarde do dia 17 de abril de 2019 para discutir a 
                    |importância das populações indígenas e o conceito de apropriação cultural.

                p
                    |19 de abril é comemorado o Dia do Índio no calendário brasileiro, e essa data reflete a importância e a plausibilidade das populações indígenas, 
                    |habitantes originais da terra brasílis. Mais do que comemoração, a roda de conversa proporcionou um momento de reflexão e discussão sobre a condição 
                    |do índio na sociedade brasileira contemporânea. 
                p
                    |Este evento reafirma a reestruturação NEABI junto à comunidade escolar, reforçando seu compromisso de realização de estudos e de promoção do respeito à 
                    |diversidade étnico-cultural dos diversos grupos que compõem a população brasileira e que estão representados em todo o Campus do IFRN - Currais Novos.
                p 
                    |Fonte: Portal IFRN.  
        