extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 IFRN promove evento sistêmico com destaque para relações étnico-raciais
        .col-sm
            .img_noticias
                img(src="../img/evento sistemico.png" width="350px" height="240px" alt="servidores")
        div
            div 
                p
                    | A Pró-Reitoria de Ensino do IFRN, por meio da Coordenação Sistêmica dos Núcleos com
                    | funcionamento descentralizado para o Campus Canguaretama do Instituto, promove, nos
                    | dias 19 e 20 de setembro, o II Seminário Sistêmico. O evento, que conta com a contribuição
                    | e participação dos diversos campi, acontece no auditório do Campus e visa atender uma
                    | demanda do Ministério da Educação (MEC) a respeito da educação para as relações étnico-raciais
                p
                    | Do ponto de vista das ações institucionais, o seminário visa fortalecer a implantação
                    | dos Núcleos de Estudos Afro-Brasileiros e Indígenas do IFRN (Neabi); subsidiar a implementação
                    | e o desenvolvimento de políticas e ações de ensino, pesquisa e extensão sobre as várias dimensões
                    | das relações étnico-raciais nos campi do IFRN e propiciar a formação continuada sobre os estudos
                    | Afro-Brasileiros e Indígenas.
                p Confira a programação:
                p
                    strong  Data: 19/9 
                p
                    strong  MANHÃ: 
                    br
                    | 8h30 - Recepção com café da manhã indígena Local: área de vivência
                    br
                    | 9h15 - Apresentações Herdeiros de Zumbi (coco de zambê) e Toré Potiguara (Catu dos Eleotérios) - Local: área de vivência
                    br
                    | 10h - Abertura Local: auditório principal
                    br
                    | 10h30 - Palestra de abertura – “NEABI UFPB”, Profa. Ma. Mojana Vargas Correia da Silva (UFPB) 
                    br
                    | Mediação: Profa. Ma. Giulia Carolina de Melo (IFRN Canguaretama)
                    br
                    | Local: auditório principal
                p
                    strong  TARDE: 
                    br
                    | 13h30 – Mesa redonda Cotas raciais e bancas de alterindentificação – Prof. Dr. Gilson José Rodrigues Júnior (IFRN Pau dos Ferros), Profa. M.a Euza Raquel de Sousa (IFRN Mossoró) / Comissão de verificação de autodeclaração étnico racial – IFRN)
                    br
                    | Mediação: Profa. Dra. Creusa Ribeiro da Silva Lélis (IFRN Canguaretama).
                    br
                    | Local: auditório principal 
                    br
                    | 15h - Intervalo
                    br
                    | 15h15 às 15h30 – Apresentação do site do NEABI – IFRN. Prof. Bruno Gomes de Araújo (IFRN Canguaretama) Constituição de Comissão de Trabalho para Revisão do Regimento Interno do Neabi IFRN.
                    br
                    | 15h45 às 17h15 - Histórias de Baobá: socialização das ações nos campi. Local: Praça da paz entre os povos.
                p
                    strong  Data: 20/9 
                p
                    strong  MANHÃ: 
                    br
                    | 8h 30 - Diversidade étnico racial e ações educativas – o exemplo do Seridó Negro - Profa. Dra. Julie Cavignac (DAN/UFRN). O trabalho educativo com o coco de zambê Sérgio Marques Caetano (Pedagogo e liderança quilombola) Mediação: Profa. Dra. Ana Cristina Pereira Lima (IFRN Canguaretama).
                    br
                    | Local: auditório principal
                    br
                    | 9h30 - Intervalo
                    br
                    | 10h - Povos indígenas do Rio Grande do Norte: mobilização política e resistência - Prof. Dr. José Gledson Vieira (DAN/UFRN). Cacique Luiz Katu (Aldeia Catu dos Eleotérios) Mediação: Meyriane Costa. 
                    br
                    | Local: auditório principal 
                    br
                    | 11h 30 – Encaminhamentos 
                    br
                    | 12h - Almoço no Restaurante Olho do Katu
                p Fonte: Portal IFRN.