extends ../templates/layoutnews 

block main 
    main.container
        .row 
            h2 Campus realiza evento sobre o Dia Nacional da Consciência Negra
        .col-sm
            img_noticias
                img(src="../img/Dia nacional da CN.jpeg" width="350px" height="230px" alt="servidores")
        div
            div
                p
                    | O Campus Nova Cruz do IFRN,  através do Núcleo de Estudos Afro-Brasileiros e Indígenas (NEABI), 
                    | realizará nos próximos dias 19 e 20 de novembro, evento alusivo ao 
                    strong Dia Nacional da Consciência Negra
                    | , com o tema: 
                    strong Reconstruindo Identidades
                    | .
                p
                    strong Confira a programação do evento
                    | :
                p
                    strong  Data: 19/11/2014 
                p
                    strong  MANHÃ: 
                    br
                    |8h50 - Mesa de abertura 
                    br
                    |9h15 - Apresentação do Núcleo de Estudos Afro Brasileiros e Indígenas (NEABI) no IFRN – Dália Maria Bezerra Maia IFRN/NC
                    br
                    |9h30 - Palestra - "
                    strong Macumba, Xangô e Catimbó: a construção do preconceito religioso afro-brasileiro
                    | ." José Roberto Oliveira dos Santos IFRN/EAD.
                p
                    strong  TARDE: 
                    br
                    |14h50 - Palestra - “
                    strong Os Negros da Cajazeiras
                    | ”, Severino do Ramo de Oliveira (Associação da Comunidade Quilombola de Cajazeiras - Santo Antônio do Salto da Onça/RN.) 
                    br
                    | 15h40 - Palestra - “
                    strong Mestre Arnaud, 30 anos de Capoeira
                    | ”– (Nova Cruz/RN) 
                    br
                    |14h50 - Oficina de Capoeira para iniciantes – Mestre Alexandre Marcos de Brito - 
                    strong  Setor II 
                    br
                    |16h30 - Roda de Capoeira (Mestre Arnaud – Nova Cruz/RN) - 
                    strong  Recepção 
                p
                    strong  Data: 20/11/2014 
                p
                    strong  MANHÃ: 
                    br
                    |8h50 - Mesa redonda 
                    strong Poesia e discurso político: a busca por uma identidade afro-americana
                    |- Ana Cristina Aguiar, Francisco de Assis Filho
                    | e Jorge Andres Kociubczyk Jablonski Junior. Mediadora: Bruna Rafaela de Lima - IFRN/NC
                p
                    strong  TARDE: 
                    br
                    | 14h50 - Divulgação do 
                    strong concurso para criação da logomarca do NEABI
                    | - Nilton Xavier IFRN/NC
                    br
                    | 14h50 - 
                    strong Mostra de curtas e debate
                    | - Jorge Andres - 
                    strong Videoconferência
                    br
                    | 15h10 – Palestra - 
                    strong Memória da Capoeira no Rio Grande do Norte
                    |  - Mestre Alexandre Marcos de Brito (Natal/RN)
                p
                    strong  Programação extra (20/11/2014) Manhã e tarde: 
                    br
                    | Representações e valorização da cultura negra - Trabalhos dos alunos do matutino e vespertino da disciplina de História
                    | Bruna Rafaela de Lima IFRN/NC - Espaços diversos do Campus
                br
                p Fonte: Portal IFRN.