extends ../templates/layoutnews

block main 
    main.container
        .row
            h2 Evento 
            p 22/11/2017 - Campus Macau promoveu semana da Consciência Negra
        .col-sm
            .img_noticias
                img(src="../img/Evento.jpeg" width="350px" height="280px" alt="servidores")
        div
            div 
                p
                | Nos dias 21 e 22 de novembro, o IFRN Campus Macau, por meio do NEABI - Núcleo de Estudos Afro-Brasileiros
                | e Indígenas, realizou A Semana da Consciência Negra, com o tema (In) Visibilidades das Culturas
                | Afro-Brasileiras no Rio Grande do Norte.
            p
                | O objetivo deste Encontro foi promover a reflexão e a discussão sobre o papel do negro em diferentes
                | contextos sociais, dando visibilidade a essa importante vertente da formação do povo brasileiro.
            p
                | Para a realização desse momento científico-cultural, foi montada uma Comissão composta por vários docentes
                | da Instituição, sob a coordenação do Professor de Sociologia Francisco Carlos.
            p
                | Na dinâmica do evento, pudemos conferir a realização de palestras, mesa redondas, salas temáticas,
                | oficinas e apresentações culturais.O encerramento ocorreu na noite desta terça-feira, no Centro de
                | Convivência e contou com a participação dos seguintes grupos: Grupo de Dança contemporânea do
                | IFRN Campus Macau, Equipe Cubana da SEMADEC com a apresentação do musical: A Revolução Cubana
                | e a Banda de reggae Gotaflor, sob a coordenação da cantora Sandy Queiroz.
            br
            p Fonte: Portal IFRN.