extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Nuarte inicia exposição: Desenho, Pintura e Negritude
            p 18/11/2020 - Núcleo de Arte do Campus São Gonçalo do Amarante promove exposição on line
        .col-sm
            .img_noticias
                img(src="../img/exposicao de desenho.jpeg" width="350px" height="350px" alt="servidores")
        div
            div 
                p
                    | O Núcleo de Arte (Nuarte) organizou a mostra cultural "Desenho, Pintura & Negritude",
                    | em parceria com o Núcleo de Estudos Afro-Brasileiros e Indígenas (Neabi) e Grêmio
                    | Estudantil Sérvulo Teixeira (Gest). Os trabalhos selecionados foram realizados por
                    | alunos do Campus e membros do projeto de extensão Técnicas de Desenho & Pintura.
                p
                    | A exposição integra as ações sistêmicas do Novembro Negro, evento do IFRN em prol da
                    | diversidade cultural e da inclusão como política institucional.
                p
                    | Foi aberta hoje (18) e estará disponível até o final de novembro para apreciação do
                    | público nas redes sociais dos organizadores (ver no final da matéria), além de ter
                    | um espaço no site do Nuarte.
                p
                    strong  Para mais informações, acesse 
                    | :
                .destaque2
                    a(href="https://nuartesga.wixsite.com/home/c%C3%B3pia-i-semana-da-negritude" target="_blanck")
                        b Exposição
                .destaque2
                    a(href="https://nuartesga.wixsite.com/novembronegro" target="_blanck")
                        b Novembro Negro
                br
                p Fonte: Portal IFRN.