extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Neabi do Campus Pau dos Ferros realiza exposição fotográfica
        .col-sm
            .img_noticias
                img(src="../img/exposicao fotografica.jpeg" width="350px" height="280px" alt="servidores")
        div
            div 
                p
                    | O Campus Pau dos Ferros, através de extensão do Núcleo de Estudos Afro-Brasileiros e Indígenas (Neabi), do IFRN, 
                    | realizará uma exposição fotográfica que tem como tema 
                    strong "Vivência Negra no Alto Oeste Potiguar"
                    | .
                p
                    | As inscrições podem ser feitas até o dia 12/11/2014, na Sala da Coordenação de Comunicação Social e Eventos (COCSEV)
                    | do Campus Pau dos Ferros. A foto deve ser revelada em tamanho 15cmx21cm (retrato ou paisagem) e entregue, mediante
                    | ficha de inscrição, disponibilizada na COCSEV. Podem se inscrever alunos e servidores (máximo 2 fotografias por pessoa).
                p
                    | A exposição entrará em cena a partir do dia 17/11/2014 e os autores das 3 melhores imagens receberão premiação e certificação.
                    | A atividade faz parte de um conjunto de iniciativas que serão trabalhadas durante a Semana da Consciência Negra (17 a 21/11/2014),
                    | sendo aberta à comunidade.
                p
                    strong O NEABI
                    br
                    | O Núcleo de Estudos Afro-Brasileiros e Indígenas tem a  finalidade de realizar ações de ensino, pesquisa e extensão sobre as várias
                    | dimensões das relações étnicos-raciais, de sensibilizar, colaborar e promover por meios de parcerias, ações estratégicas, produzindo
                    | e divulgando conhecimentos.
                p Fonte: Portal IFRN.