extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 UFRN e IFRN lançam guias culturais indígena e afro do Rio Grande do Norte
        .col-sm
            .img_noticias
                img(src="../img/Guias culturais indigenas.png" width="350px" height="280px" alt="servidores")
        div
            div 
                p
                    | Você conhece as comunidades indígenas do Rio Grande do Norte? Sabe como chegar até elas
                    | e identificar a presença e as relações com a sua história? E as comunidades afro-brasileiras no
                    | Seridó? Você sabe onde se localizam e como suas influências se espalham na vida dos potiguares?
                    | Você conhece as suas raízes?
                p
                    | Com o objetivo de disseminar esses conhecimentos, estão sendo lançados nesta 
                    | quarta-feira (3), a partir das 19h, o Guia Cultural Indígena do Rio Grande do Norte 
                    | e o Guia Cultural Afro do Seridó. O evento acontece de forma online através 
                    | da 
                    a(href="https://www.facebook.com/ifrnzonaleste")  página do Facebook IFRN Zona Leste
                    | .
                p
                    | Os guias são um trabalho dos pesquisadores responsáveis pelo Projeto de Extensão Troncos, Ramos
                    | e Raízes, do Programa de Pós-Graduação em Antropologia Social da UFRN (PPGAS), com o apoio dos
                    | pesquisadores do Núcleo de Estudos Afro-Brasileiros e Indígenas do IFRN (Neabi). Os textos são uma
                    | publicação da Editora Flor de Sal, com a colaboração de Flávia Assaf, da Editora.
                p
                    | O evento de lançamento vai contar com uma apresentação dos guias, seguida por um diálogo entre os
                    | pesquisadores e representantes de lideranças indígenas e das comunidades afro-brasileiras do Seridó.
                    | O lançamento será coordenado pela professora Julie Antoinette Cavignac (PPGAS), por parte da UFRN, e
                    | do professor Nilton Xavier  e mediado pelo professor Flávio Ferreira (Campus Canguaretama - IFRN).
                p
                    strong
                        a(href="../arquivos/guia -1.pdf") GUIA CULTURAL AFRO DO SERIDÓ
                p
                    | "Refletir sobre os processos de apagamento da presença das populações africanas
                    | e afro-brasileiras na história do Seridó é uma tarefa urgente, pois os estigmas
                    | e as desigualdades sociais, econômicas e culturais continuam pesando sobre as
                    | comunidades quilombolas que lutam pela apropriação e ressignificação de sua memória
                    | histórica. Mesmo se existem pesquisas antropológicas e se os documentos estão sendo
                    | analisados pelos historiadores, o patrimônio imaterial das comunidades, os monumentos
                    | e a história envolvendo heróis negros precisam ser melhor divulgados. O debate deve
                    | ser ampliado com o objetivo de atingir um público diversificado, revelar a importância
                    | dos grupos na história da região e o protagonismo destes sujeitos históricos."
                    p
                        strong
                            a(href="../arquivos/Guia Indigena_MIOLO_ebook -3.pdf") GUIA CULTURAL INDÍGENA DO RIO GRANDE DO NORTE
                    p
                        | "O Guia Cultural Indígena oferece informações gerais sobre a presença histórica
                        | e a dinâmica social e cultural das comunidades indígenas, mapeando os principais
                        | registros e monumentos históricos, arqueológicos e narrativos, bem como os lugares
                        | de memória das populações nativas, e disponibiliza os resultados das pesquisas realizadas;
                        | não pretende ser exaustivo. A ideia é também estimular uma reflexão crítica sobre a história
                        | e o legado das populações indígenas no âmbito escolar e acadêmico, abrindo possibilidades
                        | de pesquisas para alunos e professores dos mais diversos campos do conhecimento, como história,
                        | sociologia, arqueologia, antropologia ou literatura."
                    p
                        strong SERVIÇO:
                    p
                        | O quê: Lançamento online Guia Cultural Indígena do Rio Grande do Norte | Guia Cultural Afro do Seridó
                    p   Quando: 3 de junho de 2020, às 19h 
                    p
                        | Onde: 
                        a(href="https://www.facebook.com/ifrnzonaleste") página do Facebook do IFRN Zona Leste
                    p
                        strong PARTICIPANTES:
                    p
                        strong  Mediação
                    p Clara Bezerra (Reitoria - IFRN)
                    p
                        strong Apresentação e diálogo
                    p Julie Antoinette Cavignac (PPGAS - UFRN)
                    p Carmen Alveal (PPGH - UFRN); Thiago Dias (PPGH - UFRN)
                    p Nilton Xavier Bezerra (Neabi - IFRN) 
                    p Flávio Ferreira (Campus Canguaretama - IFRN)
                    p Jardelly Luana da Costa Santos (Irmandade do Rosário de jardim do Seridó) 
                    p José Glebson Vieira (PPGAS – UFRN)
                    p José Clewton do Nascimento (PPEUR - UFRN)
                    p Lúcia Paiacu Tabajara (Liderança Indígena - Museu do Indio Luíza Cantofa)
                    p Luiz Katu (Liderança Indígena - APIRN)
                    p Rita Neves (PPGAS - UFRN) 
                    p Tayse Michelle Campos da Silva (PPGAS – UFRN – Liderança Indígena )
                    p Thiago Dias (PPGH - UFRN)
                br
                p Fonte: Portal IFRN.