extends ../templates/layoutnews

block main 
    main.container
        .row
            h2 1ª Semana da Diversidade Étnica e da Consciência Negra terá programação variada
        .col-sm
            .img_noticias
                img(src="../img/I Semana da Diversidade Étnica e da Consciência Negra.jpeg" width="350px" height="230px" alt="servidores")
        
        div
            div 
                p
                    | A partir da segunda-feira (21), o Campus Pau dos Ferros do IFRN, através do grupo local do Núcleo de
                    | Estudos Afro-brasileiros e Indígenas (Neabi), realizará a 1ª Semana da Diversidade Étnica e da Consciência
                    | Negra.
                p
                    | A programação está diversificada, contemplando palestras, workshop, master class, cinema, mesas redondas,
                    | debates, além de apresentações culturais e exposição fotográfica "Vivência Negra no Alto Oeste Potiguar.
                p
                    | O evento acontece no período de 17 a 21 de novembro, é gratuito e extensivo à comunidade. Os participantes
                    | receberão certificado como ouvintes do evento.
                p
                    strong Acesse:
                    .destaque2
                        a(href="../arquivos/PROGRAMAÇÃO DA SEMANA DE CONSCIÊNCIA NEGRA.pdf" target="_blanck")
                            b Folder com a programação
                br
                p Fonte: Portal IFRN.
