extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 IFRN Cidade Alta promove o Dia da Diversidade
            p 26/11/2014 - O evento que é uma celebração a cultura afrobrasileira e 
                |indígena será realizado na próxima quinta-feira
        .col-sm
            .img_noticias
                img(src="../img/Exposicao raizes.png" width="350px" height="280px" alt="servidores")

        div
            div 
                p
                    | Amanhã (27), a partir das 17h30, acontece no Campus Cidade Alta do IFRN o “Dia da Diversidade:
                    | Culturas Afrobrasileiras e Indígenas”. Na oportunidade acontece a apresentação formal do Neabi,
                    | Núcleo de Estudos Brasileiros e Indígenas do IFRN Cidade Alta, na Galeria de Arte do Campus.
                p
                    | Dentro da programação será realizada a vernissage da Exposição Raízes, composta por indumentárias
                    | afrobrasileiras. Os grupos Ôgans e Caboclinhos de Cearamirm são responsáveis pelas apresentações
                    | culturais
                p
                    | Na abertura oficial do evento, às 19h, acontece uma mesa-redonda sobre manifestações culturais
                    | potiguares e populares de matrizes afrobrasileira e indígena. A mesa será composta pelos professores
                    | do IFRN Isabel Dantas, José Roberto, Suély Sousa e o representante da prefeitura municipal do Natal,
                    | Aucides Sales.
                p
                    | O objetivo do núcleo de estudos que é formado por professores, alunos, servidores e comunidade externa do
                    | instituto, é discutir assuntos voltados para a cultura afrobrasileira e indígena.
                    | A abertura oficial do evento acontece às 19h no pátio do Instituto.
                h3 PROGRAMAÇÃO
                p
                    strong Apresentação do Neabi,
                p 17h30 | Galeria de Arte
                
                p
                    strong Vernissage Exposição Raízes
                p 17h30 | Galeria de Arte
                
                p
                    strong Apresentação do Grupo Ôgans
                p 17h30 | Galeria de Arte
                
                p
                    strong Apresentação do Grupo Caboclinhos de Cearamirim
                p 18h15 | Auditório do IFRN
                
                p
                    strong
                        | Mesa-Redonda: Manifestações Culturais Potiguares e Populares de Matrizes Afrobrasileira e Indígenas
                p 19h | Auditório do IFRN
                br
                p Fonte: Portal IFRN.