extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 NEABI realiza II Encontro da Consciência Negra nesta quarta (25)
        .col-sm
            .img_noticias
                img(src="../img/II encontro da consciencia negra.jpeg" width="350px" height="250px" alt="servidores")
        
        div
            div 
                p
                    | Nesta quarta-feira (25) o Núcleo de Estudos Afro-Brasileiros e Indígenas (NEABI) do IFRN -
                    | Campus João Câmara realiza no Auditório Thomé Soares Filgueira o II Encontro da Consciência
                    | Negra, evento que contará com a realização de palestras, mesas redondas e apresentações culturais
                    | com temática voltada à valorização e preservação da cultura afrodescendente.
                p Confira a programação completa abaixo:
                p
                    strong MANHÃ (10h30 às 12h)
                ul
                    li
                        | Roda de conversa coordenada pelos professores de História Gileno França e Pablo Rocha com a
                        | discente Ana Paula Silva;
                    li
                        | Apresentação de Dança do grupo de Dança do IFRN-JC (Edilson, Betânia e Lisandra). Temática:
                        | ritmos afro e celebração dos 30 anos de Axé.
                p
                    strong NOITE (19h às 20h30)
                ul
                    li
                        | 3º Encontro do Projeto InCampus - Ciclos Dialógicos, com a temática: "Violência e Valorização da Vida".
                p
                    strong TARDE (15h30 às 17h30)
                ul
                    li
                        | Palestra "A reconfiguração do Teatro de Mamulengos face à ressignificação das personagens
                        | afrodescendentes na contemporaneidade" ministrada pela Profª Mestra em Antropologia Social
                        | Zildalte Macêdo (IFRN-ZN);
                    li  Apresentação Teatral: Teatro de Mamulengos de Heraldo Lins;
                    li  Apresentação Musical: alunos do 4º ano e Prof. Pablo Rocha.
                br
                p
                    strong Comissão Organizadora
                p
                    | Prof. Me. Tito Matias (Coordenação NEABI-IFRN-JC – disciplina de Língua Inglesa) 
                    br
                    | Profª. Me. Joicy Galvão Fernandes (disciplina de Sociologia) 
                    br
                    | Prof. Esp. Gileno França (disciplina de História) 
                    br
                    | Prof. Me. Pablo Rocha (disciplina de História) 
                    br
                    | Aurizete de Macêdo (Técnica em Assuntos Educacionais – ETEP) 
                    br
                    | Ana Karolina Silva (Bolsista de Pesquisa NEABI-IFRN-JC / Discente - Técnico Integrado em Eletrotécnica) 
                    br
                    | José Maria Bezerra (Representante Discente – Técnico Integrado em Informática) 
                    br
                    | Ana Paula Silva (Representante Discente – Técnico Subsequente em Segurança do Trabalho)
                    br
                p Fonte: Portal IFRN.