extends ../templates/layoutnews

block main 
    main.container
        .row
            h2 NEABI promove III Semana da Consciência Negra do Campus João Câmara
        .col-sm
            .img_noticias
                img(src="../img/III semanada da CN em JC.png" width="350px" height="280px" alt="servidores")
        
        div
            div 
                p
                    | O Núcleo de Estudos Afro-Brasileiros e Indígenas (NEABI) promove nos dias 22 e 23 de novembro a
                    | III Semana da Consciência Negra do Campus João Câmara do IFRN, com a temática "Resgatando
                    | identidades, desconstruindo preconceitos".
                p
                    | O evento contará com a realização de palestras, mesas-redondas, apresentações culturais,
                    | exibição de curtas-metragens e exposição de fotografias, com ênfase à valorização e
                    | preservação da cultura afro-brasileira.
                p Confira a programação completa a seguir:
                p
                    strong  QUARTA-FEIRA - 22/11 (13h às 16h30) 
                    br
                    | - 
                    strong Palestra
                    | : "As contribuições da cultura africana para o desenvolvimento dos gêneros musicais brasileiros” - Prof. Heitor Bruno de A. Souza - Local: Sala de Videoconferência; 
                    br
                    |  - 
                    strong Exibição de Curtas
                    |  - Local: Praça do Refeitório;
                    br
                    | - 
                    strong Exposição Fotográfica
                    | : "Acauã" - Fotógrafo: José Maria Bezerra - Local: Hall de Entrada do Campus.
                p
                    strong  QUINTA-FEIRA - 23/11 (10h20 às 12h) 
                    br
                    |  - 
                    strong Encenação e Declamação de Poemas
                    |  - Professores Francesco de A. Lopes e Ailson C. de Oliveira - Local: Praça do Refeitório;
                    br
                    |  - 
                    strong Cine Debate
                    | : exibição do curta "O xadrez das cores" - Debate sobre o racismo no Brasil - Mediadora: Profª. Ana Paula Silva - Local: Auditório do campus;
                p
                    strong  QUINTA-FEIRA - 23/11 (13h às 16h) 
                    br
                    |  - 
                    strong Exibição de curta-metragens e palestra
                    |  sobre as representações do negro na produção audiovisual brasileira - Palestrante: Herison Pedro - Local: Auditório do campus;
                    br
                    |  - 
                    strong Exibição de fotografias em vídeo
                    |  produzido pela Comunidade quilombola de Acauã - Local: Auditório do campus. 
                    br
                    |  - 
                    strong Encerramento
                    | : "Dança da farinhada" - Dona Francisca de Acauã e quilombolas de Acauã - Local: Hall de entrada do Campus.
                br
                p Fonte: Portal IFRN.