extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Professora e estudantes destacam a importância do IFRN para se reconhecerem negras
            p 24/11/2020 - Roda de conversa on-line integrou a programação da Semana da Consciência Negra 
        .col-sm
            .img_noticias
                img(src="../img/consciencia negra.png" width="350px" height="230px" alt="servidores")
        
        div
            div
                p
                    | “Para mim foi um choque entender que eu era uma mulher negra". A fala é da estudante Maria 
                    | dos Prazeres durante roda de conversa on-line promovida na tarde da última quinta-feira(19), 
                    | durante a programação da Semana da Consciência Negra dos campi Canguaretama e Apodi. O evento 
                    | foi organizado pelo Núcleo de Estudos Afro-Brasileiros e Indígenas (Neabi), coordenado pela 
                    | professora Giulia Melo, e transmitido pelo 
                    a(href="https://www.youtube.com/watch?v=XdeC441vx-w&ab_channel=NeabiCanguaretama" target="_blanck")  canal do YouTube Neabi Canguaretama 
                    | .
                p
                    | O choque ao qual Maria se referiu está ligado à ideia de autodescoberta, compartilhada por todas
                    | as participantes do bate papo: a estudante, as colegas Francielly Pereira e Tainara da Silva, do
                    | Curso Técnico Integrado em Eletromecânica, e a professora Creusa Lelis. Durante a conversa, mediada
                    | pela estudante Yohana Moreira, do Curso Técnico Integrado em Eventos, elas compartilharam os processos
                    | de reconhecimento e valorização de suas negritudes. Todas citaram o Campus Canguaretama do IFRN como
                    | essencial para o início desse processo.
                p
                    | A professora Creusa Lelis comentou ainda sobre as legislações e as práticas escolares como necessárias
                    | para a desconstrução das repressões à identidade e à cultura negras. Foi abordada também a necessidade
                    | de destruir as construções históricas que negligenciam os negros e as negras do Brasil a estereótipos
                    | e lugares de submissão ou servidão. Citando a escritora e ativista Angela Davis, a mediadora lembrou que
                    | "não basta não ser racista, é necessário ser antirracista".
                p
                    | As participantes debateram ainda sobre representatividade, violência policial, desigualdade social e raça,
                    | encarceramento, estereotipação, sexualização do corpo e solidão negra. A conversa contou com a participação
                    | de estudantes e servidores dos campi Canguaretama e Apodi e outros interessados, que dialogaram através
                    | dos comentários do vídeo.
                p
                    | A Semana da Consciência Negra faz parte do Novembro Negro do IFRN e tem como tema "Cores, lutas e palavras: 
                    | práticas antirracistas e representatividade negra". Todas as atividades ficaram gravadas e podem ser 
                    | conferidas no canal do 
                    a(href="https://www.youtube.com/channel/UCIwPUc9V3z4Aw9UDE1ZOfHw" target="_blanck")
                        | Youtube Neabi Canguaretama
                    | .
                br
                p
                    strong  DEPOIMENTOS COMPARTILHADOS NA RODA DE CONVERSA ON-LINE 
                .destaque2
                    strong  Creusa Lelis | Professora: 
                p
                    | O Campus Canguaretama me abriu uma porta imensa. Ele é o Campus da diversidade, é um Campus que está rodeado
                    | de tudo quanto a gente possa imaginar. E no nosso Campus a gente também tem de tudo. A gente tem diversas
                    | etnias, a gente tem indígenas, a gente tem negros, a gente tem brancos, a gente tem religiões diferentes,
                    | a gente tem classes sociais diferentes, a gente tem posturas políticas diferentes. Então isso faz da gente
                    | o Campus da diversidade. E talvez essa entrada no Campus Canguaretama tenha me motivado a assumir a minha
                    | negritude, porque até os meus 40 anos de idade eu me achava morena. Onde eu colocasse meus dados referenciais
                    | eu era considerada morena. Alisava o cabelo, toda semana estava no salão de beleza, dando pranchinha, dando
                    | escova, relaxamento, era um sofrimento aquilo tudo, meu couro cabeludo já não aguentava mais, de tanta puxada
                    | de escova, de tanto secador esquentando meu juízo, mas eu queria parecer, né, com aquela sociedade que cobrava
                    | aquela atitude de um cabelo liso, de uma postura que não era minha. E aí quando eu cheguei no Campus Canguaretama
                    | eu senti essa abertura. E aí eu disse: é agora, é agora que eu preciso ter essa coragem de assumir a minha negritude.
                    | E aí assumi! Deixei o cabelo encrespar. Quando ele cresceu uns dois dedinhos, eu fui lá no salão e cortei. [...]
                    | Aquilo foi sendo uma desconstrução. A gente precisa desconstruir esses conceitos que a gente traz. Esse racismo
                    | arraigado nas nossas entranhas, a gente precisa desconstruir isso. [...] E aí hoje eu sou uma negra feliz. Uma
                    | negra que eu sinto orgulho da minha condição racial. Sou consciente do meu valor, da riqueza cultural que nós negros
                    | possuímos e aí a gente luta, a gente luta diariamente.
                br
                .destaque2
                    strong  Francielly Pereira | Estudante | Técnico Integrado em Eletromecânica: 
                p
                    | Foi no IF que eu aceitei que eu era negra, que eu aceitei o estilo do meu cabelo, graças ao professor de Artes Nilton,
                    | ele também me ajudou muito, eu adorava as aulas dele e foi por isso que eu decidi deixar o meu cabelo natural, o meu
                    | cabelo mesmo. Eu olhava assim, eu não conseguia lembrar mais como era o meu cabelo de verdade. [...] Um dia eu fui pro
                    | banheiro, peguei a tesoura e cortei tudo que estava liso. E foi um choque muito grande quando eu olhei no espelho aí eu
                    | vi: eita, danado! O meu cabelo é esse! Eu não reconhecia mais, eu não sabia que o meu cabelo era aquele. Eu queria ter
                    | tido a oportunidade antes de ter me reconhecido com aquele cabelo. Então hoje em dia eu me reconheço porque eu reconheço
                    | meu cabelo. Ver cacheado, ver ele crescendo assim, o meu cabelo, é muito bom! Hoje eu me sinto muito feliz em me reconhecer,
                    | em reconhecer minha cor, em reconhecer meu cabelo. Também me sinto feliz pela representatividade que a gente tem hoje em
                    | dia, que melhora, que sempre aparece mais. Agora o cabelo eu sei que é meu! Porque ele está cacheado, é o meu cabelo!
                br
                .destaque2
                    strong
                        | Maria dos Prazeres dos Santos | Estudante | Técnico Integrado em Eletromecânica:
                p
                    | “Para mim foi um choque entender que eu era uma mulher negra. Porque eu passei metade da minha infância querendo parecer
                    | com outras meninas. E talvez metade do meu processo, até agora, porque processo é uma coisa constante, tá muito ligado
                    | ao meu corpo, porque foi sempre uma coisa que me incomodou muito e às vezes até acaba me incomodando. Descobri na escola
                    | que eu não era parecida com as outras meninas, que eu não tinha um corpo muito padronizado, que o meu corpo começava a se
                    | avantajar com o passar do tempo. Eu queria ser branca. Eu não queria ser negra. Eu olhava para a água sanitária e dizia:
                    | será se eu passar água sanitária eu vou ficar branca? Será se os meninos vão querer me namorar? Será que eu vou ser boa o
                    | suficiente? E foi depois do IF. O IF literalmente é uma mãe, mas não é uma mãe convencional, é uma mãe única. Porque foi
                    | chegando dentro do IF que eu comecei a compreender que tá tudo bem o meu cabelo ser do jeito que é, eu vi pessoas diferentes,
                    | eu vi professores que me ensinaram e que me ensinam a gostar do que eu sou e de quem eu sou. Hoje eu consigo me ver como mulher
                    | negra e feminina!”
                br
                .destaque2
                    strong  Tainara da Silva | Estudante | Técnico Integrado em Eletromecânica: 
                p
                    | O meu processo de negritude, de me aceitar negra, foi muito lento e doloroso. Por mais que eu tenha nascido num lar negro,
                    | tenho pais negros, irmãos negros, eu não me entendia como negra, eu não tinha essa visão minha como negra. O IF foi a
                    | porta de entrada para eu entender que aquilo antes não era eu. Foi quando eu fiz: não, chega, parou, essa não sou eu.
                    | Eu preciso olhar para dentro de mim para me enxergar novamente. Foi aí que eu decidi cortar o cabelo, deixar ele cachear,
                    | e é realmente o meu cabelo, de verdade, e foi quando eu comecei realmente a me aceitar como negra, me ver como negra: sim,
                    | sou mulher, sou negra!
                br
                p
                    strong Acesse:
                .destaque2
                    a(href="https://www.youtube.com/watch?v=XdeC441vx-w&ab_channel=NeabiCanguaretama" target="_blanck")  Semana da Consciênica Negra 2020 | Roda de Conversa 
                .destaque2
                    a(href="https://dougmns12.github.io/semana-da-consci-ncia-negra-canguaretama.github.io/" target="_blanck")  Semana da Consciênica Negra 2020 | Site 
                br
                p Fonte: Portal IFRN.


