extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Semana da Consciência Negra: estão abertas as inscrições para atividades, Concurso de Logotipo e Exposição Literária
        .col-sm
            .img_noticias
                img(src="../img/novembro negro.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div 
                p
                    | É com alegria que o Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI) do IFRN Campus Parelhas torna pública
                    | a programação da Semana da Consciência Negra 2020: “Visibilidades negras: vozes e representatividade”
                p
                    | Entendemos a urgência de fortalecer a Educação e o espaço escolar como espaços de conhecimento e resistência.
                    | Neste sentido, atividades como a Semana da Consciência Negra são fundamentais e nos mostram que, para além
                    | de comemorações no mês de novembro, precisamos empreender ações permanentes que nos possibilitem a construção
                    | de estratégias para enfrentar o racismo estrutural que marca negativamente nossa formação social e histórica
                    | brasileira.
                p
                    | Para a Semana da Consciência Negra 2020, os NEABIs de todos os campi do IFRN organizaram programações locais e
                    | sistêmicas, cuja participação de toda comunidade acadêmica é fundamental.
                p Contamos com vocês nas nossas atividades! Sejam bem-vindos(as)!
                br
                p
                    strong  PROGRAMAÇÃO 
                p
                    strong Concurso para escolha do logotipo do NEABI Campus Parelhas
                p
                    | O Concurso tem como finalidade definir uma identidade visual, através de logotipo, para o NEABI do Campus Avançado Parelhas
                    | do IFRN. O logotipo deve apresentar uma proposta visual que represente o Núcleo.
                p
                    | A inscrição poderá ser realizada entre os dias 11 a 16 de novembro de 2020, mediante envio dos desenhos por e-mail 
                    | (
                    strong neabi.paas@ifm.edu.br
                    | ) e assinatura do Termo de Cessão dos Direitos Autorais.
                .destaque2
                    a(href="https://www.even3.com.br/vnver2020/" arget="_blanck")
                        b regulamento do concurso
                br
                p
                    strong  Exposição literária – IFRN Campus Parelhas 
                p
                    | Exposição literária sobre o tema 
                    strong A importância do Dia da Consciência Negra na atualidade
                    | . As produções podem ser enviadas até 
                    |                         o dia 16 de novembro de 2020, por meio da 
                    a(href="https://www.even3.com.br/vnver2020/" target="_blanck")  plataforma 
                    |  .
                p
                    | A exposição será realizada no dia 18/11/2020 na atividade “Mesa redonda: Literatura negra e resistência no Brasil”, que ocorrerá no dia 18/11/2020
                    | às 16:30 horas, por meio da plataforma Google Meet e os textos poderão ser expostos também nas redes sociais do IFRN - Campus Parelhas
                br
                p
                    strong  Encontros virtuais – IFRN Campus Parelhas 
                p
                    strong 18/11 – 16:30h às 18:00h: Literatura negra e resistência no Brasil
                    |  - Exposição literária e diálogo sobre literatura negra e resistência no Brasil. Inscrições até 17/11 por 
                    a(href="https://www.even3.com.br/vnver2020/" target="_blanck") aqui
                    | .
                    br
                    strong 19/11 – 16:00h às 18:00h: Exposição de Filmes Temáticos - Cine Mandacaru
                    |  - Vamos dialogar sobre cinema, arte e resistência. Inscrições até 17/11 por 
                    a(href="https://www.even3.com.br/vnver2020/" target="_blanck") aqui
                    | .
                    br
                    strong 20/11 – 10:00h às 12:00h: O racismo no mundo acadêmico
                    |  - Nesta atividade, buscaremos dialogar com estudantes, docentes e demais convidados(as) sobre racismo no mundo acadêmico. Inscrições até 17/11 por 
                    a(href="https://www.even3.com.br/vnver2020/" target="_blanck") aqui
                    | .
                    br
                    strong
                        | 20/11 – 16:30h às 18:30h: Diálogo com comunidades: experiências quilombolas no sertão e no litoral do RN
                    |  – Atividade promovida pelo Campus Currais Novos, com a presença de: Sérgio Marques Caetano – Sibaúma
                    |  (Canguaretama); Sebastião Genicarlos dos Santos – Boa Vista dos Negros (Parelhas); José da Silva de Oliveira - Negros do Riacho (Currais Novos); Vilmário – Macambira (Lagoa Nova);
                br
                p Fonte: Portal IFRN.