extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Neabi IFRN apoia campanha "Indígenas RN contra o coronavírus" 
        .col-sm
            .img_noticias
                img(src="../img/indigenas do RN.jpeg" width="350px" height="230px" alt="servidores")
        div
            div 
                p
                    | O Núcleo de Estudos Afro Brasileiros e Indígenas do IFRN (Neabi) foi implantado em 2010 com o objetivo de valorizar a cultura afro brasileira e indígena.
                    | O Núcleo desenvolve ações no âmbito do ensino, pesquisa e extensão a fim de promover a efetividade das leis federais  10.639/2003 e 11.645/2008. Com a
                    | situação de pandemia de Covid-19, o Núcleo busca agora formas de apoiar as campanhas organizadas pelas comunidades indígenas do Rio Grande do Norte.
                p
                    | De acordo com Nilton Xavier, professor do Campus Canguaretama e coordenador sistêmico do Neabi IFRN, a ação mais necessária neste momento é oportunizar doações.
                    | Na Comunidade Indígena do Amarelão, localizada em João Câmara, onde há Campus do Instituto, os moradores trabalham em sua maioria com o beneficiamento da castanha do caju.
                    | Em razão do momento de distanciamento social que vivemos, o trabalho fica impossibilitado e eles ficam sem renda financeira para se manter.
                p
                    | “Em pouco tempo, a situação levaria à falta de alimentos e provocaria, inevitavelmente, a saída das pessoas do território circunscrito à comunidade de etnia potiguara em
                    | busca de trabalho e alimentos, o que representaria a elevação do risco de contágio dos indígenas pelo coronavírus”, explicou o professor.
                p
                    | Considerando a urgência da situação, um grupo de servidores do Núcleo instalado no Campus João Câmara do IFRN, sob a coordenação do professor Pablo Eduardo, articulou junto
                    | a Tayse Campos, liderança indígena do Amarelão, a entrega de 102 cestas básicas. Contribuíram diretamente com as doações, além de integrantes do Neabi João Câmara, servidores
                    | dos campi Canguaretama e São Paulo do Potengi.
                p
                    | O professor Nilton lembra que a ação solidária realizada no Amarelão não está desconectada da campanha 
                    a(href="https://benfeitoria.com/indigenarn" target="_blanck")
                        | “Indígenas
                        | RN contra o coronavírus”
                    |  , divulgada através do perfil no Instagram 
                    a(href="https://www.instagram.com/indigenasdorn/" target="_blanck")  Indígenas do RN 
                    |  pela Associação dos Povos Indígenas do RN (APIRN). Nesse espaço virtual, é possível ampliar o alcance das doações, conhecer mais sobre a cultura
                    |   indígena do estado, seus representantes e líderes.
                p
                    | “Parte dessas lideranças indígenas são integrantes efetivos do Neabi IFRN, contribuindo de maneira expressiva com o planejamento e a prática de ações voltadas para a educação
                    | das relações étnico raciais nos campi e no estado. Dessa forma, apoiar a divulgação dessa campanha nos meios institucionais é afirmar a valorização da diversidade cultural”,
                    | explicou Nilton.
                br
                p
                    strong  Veja como apoiar: 
                .destaque2
                    a(href="https://benfeitoria.com/indigenarn" target="_blanck")
                        b Indígenas RN contra o coronvírus - campanha online
                br
                p
                    strong  Para mais informações: 
                    br
                    | Neabi IFRN: neabi@ifrn.edu.br
                    br
                    | Comunicação da Articulação dos Povos Indígenas do RN (APIRN) | Rodrigo Palmares: (84) 98104-1025
                br
                p Fonte: Portal IFRN.