extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 NEABI leva a júri popular votação para definição do logotipo do Núcleo
        .col-sm
            .img_noticias
                img( src="../img/neabi2.png" width="340px" height="250px" alt="logo do NEABI")
        .row_noticias
            p
                | O Núcleo de Estudos Afro-Brasileiros e Indígenas do Campus Pau dos Ferros do IFRN, o NEABI, leva a júri 
                | popular a votação que definirá a identidade visual do Núcleo, que está sendo realizada através de 
                a(href="concurso.html") concurso.
            p
                strong Foram 7 propostas inscritas 
                | . A avaliação e seleção das propostas acontecem em duas etapas. A primeira 
                | se dará através de eleição por júri popular com votação on-line e, a segunda; por meio de avaliação de 
                | banca examinadora, que levará em conta critérios como: 
                strong
                | representatividade, objetividade, criatividade,
                | síntese e aplicabilidade
                | .
        .row_noticias
            p
                | O (a) autor (a) do melhor trabalho receberá certificado e premiação especial contendo kit escolar, pendrive,
                | bolsa para notebook, caneca de porcelana oficial do IFRN e certificado de vencedor (a) do concurso.
            p
                | A votação on-line de júri popular e técnica acontecem de 11 a 19 de novembro, de acordo com
                | cronograma no Anexo II do regulamento. O resultado final deverá ser publicado até o dia 20 de novembro
                | de 2019 no portal do Campus Pau dos Ferros do IFRN.
            p
                strong  Para votar, é preciso estar logado no e-mail Google Sala de Aula. 
            h3 Acesse:
            .destaque2
                a(href="https://docs.google.com/forms/d/e/1FAIpQLSdaRisGdtNedaUDWCPMbBaMVz_N5LCcT7RFHfY_L_PuC0LVNg/viewform" target="_blanck")
                    b VOTAÇÃO DO LOGOTIPO
            p
                | O resultado final deverá ser publicado até o dia 20 de novembro de 2019 no portal do Campus Pau dos Ferros do IFRN.
            br
            p Fonte: Portal IFRN.
            