extends ../templates/layoutnews

block main 
    main.container
        .row
            h2 Campus SGA promove lançamento do livro Terecô de Codó - Uma religião a ser descoberta
            p 26/05/2016 - O evento, realizado pelo Neabi, acontecerá na próxima terça-feira (31), às 19h, 
                |no hall de entrada do Campus São Gonçalo do Amarante
        .col-sm
            .img_noticias
                img( src="../img/Tereco de codo.jpeg" width="350px" height="280px" alt="tereco de codo")
        
        div
            div 
                p 
                    |O Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI) do IFRN -  Campus São Gonçalo do Amarante, 
                    |irá promover o lançamento do livro "Terecô de Codó - Uma religião a ser descoberta",  do pesquisador 
                    |maranhense Cícero Centriny, seguido da roda de conversa "Os Estudos Afro-brasileiros e o Terecô de Codó".
                p
                    |Terecô é a denominação de uma religião afro-brasileira tradicional de Codó, município maranhense que 
                    |recebeu no passado, em suas fazendas e plantações de algodão, muitos negros escravizados. Embora a 
                    |denominação “terecô” seja muito frequente no interior do Maranhão, até poucos anos era quase inexistente 
                    |na literatura antropológica e era desconhecida da maioria dos sacerdotes e praticantes das religiões de 
                    |matriz africana de outros estados. Esta comunicação tem como objetivo falar da pesquisa que gerou o 
                    |livro “Terecô de Codó: uma religião a ser descoberta” e fazer uma reflexão sobre as práticas rituais 
                    |que compõem essa religião afro-brasileira de matriz africana como parte extremamente importante da 
                    |história negra do Maranhão, contribuindo assim para a preservação da memória e cultura popular e 
                    |religiosa maranhense.
                p 
                    |O evento acontecerá na próxima terça-feira (31), às 19h, no hall de entrada do Campus São Gonçalo do 
                    |Amarante. A programação conta com a roda de conversa e o lançamento do livro que estará à venda no 
                    |local pelo valor de R$ 60,00.
                br
                p  Fonte: Portal IFRN. 

        