extends ../templates/layoutnews

block main 
    main.container
        .row
            h2 Campus entrega premiação a aluno ganhador do concurso de logomarca do NEABI
            
        .col-sm
            .img_noticias
                img(src="../img/logomarca_vencedoraa.png" width="340px" height="320px" alt="servidores")
        div
            div 
                p 
                    |O Núcleo de Estudos Afro-Brasileiros e Indígenas - NEABI/Núcleo Avançado Nova Cruz realizou, 
                    |nesta última quarta-feira (19/08), entrega de um "vale-livros" ao aluno <strong>Niwandson Barbosa da Silva</strong>, 
                    |criador da logomarca vencedora do processo seletivo referente ao Edital nº 39/2014-DG/NC/IFRN, para 
                    |escolha da identidade visual do Núcleo de Estudos Afro-Brasileiros e Indígenas - NEABI/ Núcleo Avançado 
                    |Nova Cruz.
                p 
                    |O vencedor é aluno do 4º Ano (vespertino) do Curso Técnico Integrado em Administração do Campus ​Nova 
                    |Cruz. A entrega da premiação foi feita pela Coordenadora do NEABI/ Nova Cruz, Dalia Maria Bezerra 
                    |Maia, e contou com a presença dos servidores Nilton Xavier Bezerra, Juzelly Fernandes Barreto Moreira, 
                    |Jorge Andrés Kociubczyk Jablonski Junior​, Ana Cristina Costa Aguiar e Francisco de Assis Filho (membros 
                    |do NEABI/ Nova Cruz), a diretora acadêmica do Campus, Tatiana Amaral Sorrentino, representando a gestão 
                    |do Campus. Outros servidores e alunos do curso de administração participaram da cerimônia. 
                p 
                    |Na próxima terça-feira (25/08), a logomarca criada por Niwandson concorrerá também no 
                    |processo seletivo de escolha da identidade visual do Núcleo de Estudos Afro-Brasileiros e 
                    |Indígenas - NEABI do IFRN, ​que se dará por ocasião da Reunião Geral do NEABI-IFRN.
                br
                p
                    | Confira as fotos do evento  
                    a(href="https://www.facebook.com/media/set/?set=a.744217279022662.1073741919.204529989658063&type=3" target="_blanck")  aqui
                p Fonte: Portal IFRN.