extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Egresso do IFRN realiza matéria internacional sobre os povos indígenas do Litoral Sul potiguar</h2>   
            p 22/06/2019 - Rafael visitou as aldeias Catu dos Eleotérios e Sagi/Trabanda.   
        .col-sm
            .img_noticias
                img(src="../img/Materia internacional sobre os povos indigenas.jpeg" width="350px" height="270px" alt="servidores")
        div
            div
                p 
                    |Rafael Lima, ex-aluno e participante do programa Jovens Embaixadores pelo IFRN, e atualmente cursando 
                    |Graduação em Jornalismo na Wake Forest University (Estados Unidos), desenvolveu um projeto jornalístico 
                    |sobre o atual processo de demarcação de terras indígenas no Brasil. Para tanto, recebeu uma bolsa do 
                    |Pulitzer Center, organização americana que financia jornalismo independente, para voltar ao Brasil e 
                    |evidenciar a situação dos grupos indígenas. Como cidadão potiguar, Rafael decidiu focar nas aldeias Catu 
                    |dos Eleotérios e Sagi/Trabanda, que são parceiras do Campus Canguaretama através de projetos do Núcleo 
                    |de Estudos Afro-brasileiros e Indígenas (NEABI). Com o suporte do Prof Nilton Xavier (NEABI/Canguaretama) 
                    |e da Coordenação de Extensão do Campus Canguaretama, Rafael visitou a aldeia Catu dos Eleotérios e 
                    |entrevistou o Cacique Luiz Katu, onde levantou elementos para sua matéria. “Considero importante trazer 
                    |visibilidade para os grupos indígenas do Estado, principalmente em um momento que eles lutam para ter 
                    |suas terras reconhecidas pela Funai como reservas indígenas. Muitas pessoas desconhecem a batalha que 
                    |eles enfrentam diariamente para manter costumes e cultura vivos em face da crescente presença de 
                    |latifúndios em torno de suas aldeias”, disse Rafael. A próxima etapa do seu projeto se dará em 
                    |Brasília/DF para entrevistar órgãos envolvidos com o processo legal de demarcação de terras indígenas 
                    |no Brasil.
                p Fonte: Portal IFRN. 