extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Campus promove I Ciclo de Debates “Mulheres Negras Movendo o Mundo”</h2>  
            p 03/09/2019 - Evento acontece no dia 10/9 e abordará da ancestralidade e 
                |protagonismo negro a partir de Teresa de Benguela
        .col-sm
            .img_noticias
                img(src="../img/Mulheres Negras movendo o mundo.png" width="350px" height="280px" alt="servidores")
        div
            div 
                p
                    | O Núcleo de Estudos Afro-brasileiros e Indígenas do Campus Pau dos Ferros do IFRN, o Neabi, promoverá 
                    | o 
                    strong I Ciclo de debates mulheres negras movendo o mundo: ancestralidade e protagonismo negro a partir de Teresa de Benguela
                    | .
                p
                    | O evento faz alusão ao Dia da Mulher Negra Latino-Americana e Caribenha, celebra do no dia 25 de julho.
                p
                    | O Ciclo de Debates acontecerá na próxima terça-feira (10), no IFRN, com programação nos turnos matutino e
                    | vespertino, trazendo mesas-redondas, roda de conversa e conferência.
                p Confira a programção:
                p
                    strong PROGRAMAÇÃO MATUTINA - 10H AO MEIO-DIA
                p
                    strong MESA-REDONDA
                    | (mediação: Ma. Jucely Regis dos Anjos Silva, Professora do Campus Pau dos Ferros do IFRN)
                ul
                    li
                        p
                        strong Comunicação: A vez e a voz da Mulher Quilombola
                        p Profª Francisca Ielândia Jacinto de Oliveira
                        p (Gestora na Escola Municipal Francisco Aires Segundo)
                    li
                        p
                        strong Comunicação: Mulheres negras e a escrita de suas histórias
                        p Stéphanie Moreira
                        p (Doutoranda no Programa de Pós-Graduação em Estudos Étnicos e Africanos da UFBA)
                p
                    strong PROGRAMAÇÃO VESPERTINA- 14H ÀS 18H
                p
                    strong RODA DE CONVERSA: JUVENTUDE NEGRA EM DEBATE
                    |(mediação: Dr. Gilson Rodrigues Júnior, Professor do Campus Pau dos Ferros do IFRN).
                ul
                    li
                        p Profª Ma. Jucely Regis dos Anjos Silva (IFRN))
                    li
                        p
                        | Stéphanie Moreira (Doutoranda no Programa de Pós-Graduação em Estudos Étnicos e Africanos da UFBA);
                    li
                        | Mayra de Castro (aluna representando do Grêmio Estudantil Joaquim Correia - Campus Pau dos Ferros do IFRN).
                p
                    strong CONFERÊNCIA DE ENCERRAMENTO: 
                    |  “Não sou eu uma Mulher Negra?”: reflexões sobre lugar de fala e experiência
                    |  Me. Jucely Regis dos Anjos Silva (IFRN).
                p
                    | O evento é gratuito e acontece no Auditório Ariano Suassuna. A comunidade externa pode participar.
                .destaque2
                    p
                        strong SERVIÇO
                p
                    | O quê: I Ciclo de debates mulheres negras movendo o mundo: ancestralidade e protagonismo negro a partir de Teresa de Benguela;
                p Data: 10 de setembro (terça-feira)
                p Horário: 10h e 14h;
                p Local: Auditório Ariano Suassuna, IFRN, Pau dos Ferros
                br
                p Fonte: Portal IFRN.