extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Núcleo de Estudos Afro-Brasileiros e Indígenas do IFRN tem nova logo criada por aluno do Campus Nova Cruz  
            p 10/09/2015 - A escolha da marca aconteceu após concurso que envolveu alunos dos Campi Nova Cruz, São Paulo do Potengi e Caicó. 
        .col-sm
            .img_noticias
                img(src="../img/logomarca_vencedoraa.png" width="340px" height="284px" alt="logo vencedora")
        
        div
            div 
                p 
                    |O Núcleo de Estudos Afro-Brasileiros e Indígenas do IFRN (NEABI) está de cara nova após a escolha de uma 
                    |nova marca para o grupo de pesquisa. O processo de criação contou com a participação de alunos dos Campi 
                    |Nova Cruz, São Paulo do Potengi e Caicó.  As propostas de logomarca foram avaliadas a partir dos critérios 
                    |de criatividade, originalidade, comunicação, relação com a visão, missão e princípios do NEABI, além de 
                    |sua aplicabilidade.   O vencedor do concurso foi o  aluno do Campus Nova Cruz, Niwandson Barbosa da Silva.
                p 
                    |O Núcleo de Estudos Afro-Brasileiros e Indígenas(NEABI) do IFRN é um grupo de trabalho responsável por 
                    |fomentar ações, de natureza sistêmica, no âmbito do ensino, da pesquisa e da extensão, que promovam o 
                    |cumprimento efetivo das Leis 10.639/2003 e 11.645/2008 e dos demais instrumentos legais correlatos. 
                    |Para tanto, o NEABI é formado por professores, técnicos-administrativos, alunos e ativistas de movimentos 
                    |sociais. Atualmente, os 191 membros se dividem em 21 grupos, sendo um núcleo em cada Campus do instituto.
                br
                p  Fonte: Portal IFRN. 