extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 NEABI abre inscrição para representação de aluno no conselho
        .col-sm
            .img_noticias
                img(src="../img/indios.jpeg" width="330px" height="260px" alt="servidores")
        
        div
            div 
                p 
                    |O NEABI- Núcleo de Estudos Afro-Brasileiros e Indígenas do IFRN é formado por servidores docentes e técnicos- administrativos, 
                    |estudantes do IFRN, pesquisadores associados e demais interessados no estudo da temática das relações étnico-raciais. 
                p 
                    |Com a finalidade de realizar ações de ensino,pesquisa e extensão sobre as várias dimensões das relações étnicos-raciais, de 
                    |sensibilizar, colaborar e promover por meios de parcerias, ações estratégicas, produzindo e divulgando conhecimentos é 
                    |que o conselho do NEABI Campus Parnamirim, divulga a vaga para 2 representantes dos alunos para compor esta formação. Os 
                    |interessados deverão fazer a inscrição na Sala da Pedagogia até hoje.
                br
                p Fonte: Portal IFRN.    