extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 NEABI participa da reunião da Rede de Pontos de Memória do RN
            p 17/10/2016 - A reunião aconteceu na última terça-feira (11/10), na sede da Secretaria de Educação e Cultura do RN.
        .col-sm
            .img_noticias
                img(src="../img/Campus Canguaretama.jpg" width="350px" height="280px" alt="servidores")
        div
            div 
                p
                    | Na última terça-feira (11/10), na sede da Secretaria de Educação e Cultura do RN, o Prof. Avelino Neto
                    | representou o NEABI do Campus Canguaretama na reunião preparatória para o III Encontro Estadual da
                    | Rede de Pontos de Memória do RN. Contando com mais de vinte representantes de diversas instituições -
                    | tais como a RPTV, a Biblioteca Pública da Zona Norte de Natal, a SEEC-RN, o Museu Nísia Floresta, a
                    | ONG Olhares, o IFRN, dentre outras -, a reunião visou apresentar o contexto da rede e iniciar a
                    | preparação para a terceira edição do encontro, que ocorre a cada dois anos.
                p
                    | O objetivo do evento, a ser realizado no dia 02 de Dezembro de 2016 no Campus Cidade Alta do IFRN, é
                    | fortalecer a rede. Pretende-se, na ocasião, refletir sobre o descaso dos organismos públicos com as
                    | práticas de museologia social - isto é, o direito que as comunidades têm de contar a sua própria
                    | história; aperfeiçoar as parcerias já firmadas entre os diversos participantes e instituições, bem
                    | como iniciar novas, a fim de dar visibilidade à produção artística local e às iniciativas de museologia
                    | social presentes em todo o estado. Antes do evento, os representantes dos vários grupos envolvidos
                    | elaborarão um texto-base, assim como uma proposta de diálogo a ser apresentado ao Estado e às
                    | Prefeituras, a fim de mobilizar esforços para retomar apoio financeiro e outras parcerias
                    | necessárias à manutenção da memória.
                p
                    | O IFRN/Canguaretama dispôs-se a colaborar através do transporte de representantes de alunos e das comunidades
                    | indígenas e quilombolas situadas nos municípios próximos ao campus. Além disso, é importante ressaltar
                    | que o Prof. Flávio Ferreira já havia disponibilizado anteriormente o mezanino da Biblioteca para uma
                    | exposição sobre a comunidade dos Negros do Riacho, exposição esta que se realizará em novembro. Trata-se
                    | do início de uma cooperação importante do NEABI com a rede e com a comunidade de modo geral.
                p
                    | A próxima reunião preparatória acontecerá no dia 18 de Outubro, no campus Cidade Alta do IFRN. Na ocasião, será
                    | concluída a programação do evento, como também serão visitados os espaços a serem utilizados.
                p Fonte: Portal IFRN.