extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 NEABI visita comunidade Negros do Riacho
        .col-sm
            .img_noticias
                img(src="../img/image_preview.jpeg" width="340px" height="200px" alt="sala de aula")
        
        .row_noticias
            p 
                |Na última terça-feira (26) a comunidade quilombola mais tradicional do munícipio de Currais Novos 
                |recebeu o Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI) do IFRN Currais Novos. O contato 
                |foi o primeiro passo para a atuação do núcleo junto às comunidades quilombolas e indígenas da região, 
                |que compreende, além do município, outras cidades do Seridó.
            p
                |A visita foi mediada por professores da Escola Quilombola Francisco de Assis e por José Oliveira, 
                |membro atuante da comunidade e integrante da associação de moradores locais. Durante a conversa 
                |com os professores e alunos, foram evidenciadas questões que dizem respeito a necessidades básicas 
                |dos habitantes e a preocupação com o registro cultural das atividades tradicionais dos Negros do 
                |Riacho, além da prática de ações de desenvolvimento e afirmação da identidade.    

        .row_noticias
            p 
                |O contato inicial do NEABI teve o intuito de aproximar e conhecer melhor a comunidade para 
                |que as diretrizes dos trabalhos que surgirão possam contemplar as reais necessidades dos moradores 
                |locais. Foram discutidas, por exemplo, as possibilidades de oficinas e projetos de extensão fomentados 
                |pelo IFRN Currais Novos e o auxílio do Instituto a projetos que já estão em andamento, como o da Área Verde 
                |e da criação de uma horta comunitária.
            p 
                |Para Theo Alves, membro do NEABI, “é fundamental que haja um diálogo mais aberto e significativo 
                |entre a comunidade Negros do Riacho e instituições sérias como o IFRN, que estão preocupadas em 
                |preservar a memória comunitária e oferecer oportunidades para que as pessoas possam desenvolver 
                |seus potenciais e atuarem de maneira mais efetiva nas questões sociais”.
            p 
                |O NEABI do IFRN Currais Novos é formado pela pedagoga Paula Francinete Batista; Theo Alves, 
                |comunicador social do campus; Mainomy de Carvalho, engenheira de alimentos; pelos professores 
                |Júlio César de Alencar, João Damasceno e Maura Bezerra; e Ronaldo Gomes, presidente da Fundação 
                |José Bezerra Gomes e membro representante dos movimentos sociais do município.
            p 
                |Estão previstas visitas iniciais às comunidades Ludugero, do Totoró; Macambira, de Lagoa Nova; e 
                |Boa Vista, de Parelhas. Após essas visitas de reconhecimento, o NEABI definirá sua atuação através 
                |de projetos junto às comunidades.
            br
            p Fonte: Portal IFRN. 
