extends ../templates/layoutnews

block main 
    main.container
        .row
            h2 Núcleo de Estudos Afro-brasileiros e Indígenas do Campus Currais Novos realiza 
                |atividades no Dia da Consciência Negra
        .col-sm
            .img_noticias
                img(src="../img/Atividades em Currais Novos.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div
                p 
                    |O Dia Nacional da Consciência Negra, 20 de novembro, instituído pela Lei Federal 12.519 de 2011, 
                    |foi lembrado pelo Núcleo de Estudos Afro-brasileiros e Indígenas – NEABI – do Campus Currais Novos 
                    |com atividades que reuniram alunos, professores e membros da comunidade externa. A programação 
                    |contou com apresentação cultural, rodas de conversa, oficina de turbante e visita à comunidade 
                    |quilombola Negros do Riacho.
                p 
                    |A abertura aconteceu no auditório do Campus com uma apresentação cultural promovida por alunos 
                    |membros do núcleo, seguida de uma exposição de dados e estatísticas organizada por estudantes 
                    |do 3º ano do curso Técnico Integrado em Manutenção e Suporte em Informática, fruto de pesquisas 
                    |realizadas na disciplina de Filosofia. Após a exposição, o Professor Mestre em História Ruan Silva 
                    |conduziu uma roda de conversa que levantou questões importantes e proporcionou um momento de 
                    |diálogo e reflexão entre os participantes.
                p 
                    |Na sala de Artes, a roda de conversa “Autoestima da mulher negra” trouxe uma discussão sobre identidade, 
                    |transição capilar e uma oficina de turbante conduzida por Sol Saldanha, professora e militante do 
                    |coletivo Enegrecer-RN. Durante a atividade, muitas alunas compartilharam suas experiências de 
                    |transição, beleza, autoestima e aprenderam diferentes amarrações de turbante.
                p
                    |O encerramento das atividades aconteceu na comunidade Quilombola Negros do Riacho em uma visita 
                    |organizada por professores, coordenação de extensão e alunos do 2º ano do curso Técnico Integrado 
                    |em Alimentos do turno vespertino. Em parceira com o professor de Artes, Marcos Queiroz, coordenador 
                    |do NUARTE, foram doados à comunidade livros e fotografias de um trabalho realizado na década de 
                    |70 pelo Professor Luiz Assunção (UFRN), em um momento de emoção e resgate da memória da comunidade. 
                p 
                    |Durante as atividades do Dia Nacional da Consciência Negra, os participantes puderam discutir a 
                    |necessidade de reconhecer a importância dos negros para nossa história e identidade e refletir 
                    |sobre a necessidade da luta pela garantia de direitos. “É uma data para homenagear os antepassados, 
                    |fortalecer os símbolos de resistência, reforçar as lideranças atuais e refletir o quanto ainda 
                    |estamos longe de uma valorização real e efetiva dos antepassados e dos contemporâneos” comenta o 
                    |professor Ruan Silva.
                p
                    strong Acesse:
                    a(href='../arquivos/Fotos.pdf') Fotos