extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Neabi do Campus Natal-Central promove oficina de dança
            p 19/11/2018 - Evento acontece nesta terça-feira (20), a partir das 18h
        .col-sm
            .img_noticias
                img(src="../img/Oficina de danca.png" width="350px" height="275px" alt="servidores")
        
        div
            div 
                p
                    | Acontece nesta terça-feira (20), das 18h às 21h, na sala de dança de Campus Natal-Central (Cnat),
                    | uma oficina de dança promovida pelo Núcleo de Estudos Afro-Brasileiros e Indígenas (Neabi) do Cnat.
                    | Além disso, o evento contará com uma oficina de batuque, que extrai os sons do próprio corpo,
                    | buscando um encontro com a ancestralidade africana.
                p
                    | Para o evento, o convidado Moçambicano Tsumbe Maliya Mussundza, pretende, através da sua corpografia,
                    | compartilhar e trocar com os participantes o lugar onde nasce a dança ancestral, que, através da
                    | prática, busca traduzir os símbolos da natureza.
                p
                    | O evento é destinado aos alunos e servidores do IFRN e também à comunidade externa.
                p
                    strong Sobre a Gule Wamkulu 
                p
                    | A Gule Wankulu é uma dança ritual ancestral, praticada pelos Chewa no Malawi, na Zâmbia e em Moçambique.
                    | Era um culto secreto que envolvia a dança ritual, praticada entre os Chewa no Malawi, Zâmbia e Moçambique.
                    | Foi realizada por membros da irmandade Nyau, uma sociedade secreta de homens iniciada dentro da
                    | tradicional sociedade matrilinear do Chewa, em que os homens casados desempenhavam um papel marginal.
                    | Os Nyau ofereciam meios para estabelecer um contrapeso e solidariedade entre os homens de várias aldeias.
                    | Os membros do Nyau ainda são responsáveis pela iniciação dos jovens à idade adulta e pelo desempenho do
                    | Gule Wamkulu no processo de iniciação.
                p Fonte: Portal IFRN.