extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 IFRN promove o Novembro Negro
            p 18/11/2020 - O evento é organizado pelo Núcleo de Estudos Afro-Brasileiros e Indígenas
        .col-sm
            .img_noticias
                img(src="../img/novembro negro.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div 
                p
                    | O Núcleo de Estudos Afro-Brasileiros e Indígenas (Neabi) do IFRN convida toda a comunidade do
                    | Instituto para o evento “Novembro Negro”, em referência ao Dia da Consciência Negra, celebrado
                    | no Brasil em 20 de novembro. O objetivo é promover discussões sobre identidade, racismo e
                    | desigualdade social, a fim de promover reflexão sobre os papéis desempenhados pela população
                    | negra em diferentes esferas da sociedade. A programação está inserida no contexto das ações
                    | sistêmicas do Neabi, que conta com atividades em todos os campi do IFRN.
                p
                    | O Núcleo de Estudos Afro-Brasileiros e Indígenas é uma iniciativa política e pedagógica que
                    | busca promover e fomentar a reflexão acerca dos movimentos históricos, culturais e discursivos
                    | da sociedade, resultantes das relações estabelecidas entre os diferentes segmentos sociais e
                    | etnias no âmbito das culturas, das artes e dos movimentos sociais.
                p
                    strong  Como participar  
                p
                    | "O Novembro Negro vem fazendo cada vez mais parte da agenda nacional e deve ser compreendido
                    | enquanto um marco temporal, tendo o dia  20 de novembro como seu epicentro. No entanto, tanto a
                    | data quanto o mês fariam pouco sentido sem ações continuadas que precisam permear nossos cotidianos,
                    | pessoais e coletivos, profissionais e em momentos de lazer", disse Gilson Rodrigues, coordenador
                    | sistêmico do Neabi.
                p
                    | Segundo o coordenador, para participar basta acessar o link do 
                    a(href="https://dougmns12.github.io/Novembro-Negro---NEABI-IFRN/" target="_blanck")
                        | Portal sistêmico do Novembro Negro no IFRN
                    | e navegar na programação. "São diversas perspectivas sobre a consciência negra, traduzidas nos 
                    | temas desenvolvidos em cada campus: "Cores, lutas e palavras: práticas antirracistas e representatividade 
                    | negra, no 
                    a(href="https://dougmns12.github.io/semana-da-consci-ncia-negra-canguaretama.github.io/" target="_blanck")
                        em Campus
                        |  Canguaretama
                    | ; Fomentação da democracia e da cidadania visando à formação humana como
                    | processo em permanente construção e questionamento, no 
                    a(href="https://nuartesga.wixsite.com/novembronegro" target="_blanck")
                        em Campus
                        | São Gonçalo do Amarante
                    | ; Visibilidades Negras: Vozes e Representatividade, no 
                    a(href="https://www.even3.com.br/vnver2020/" target="_blanck")
                    em Campus Parelhas
                    |  ; 
                    |  Resistir, existir e romper com estruturas, no 
                    a(href="https://www.even3.com.br/viscn2020/" target="_blanck")
                        em Campus
                        |  Pau dos Ferros
                    |  e Novembro Negro – 
                    |  Combatendo estruturas coloniais, tema do 
                    a(href="https://dougmns12.github.io/Novembro-Negro---NEABI-IFRN/JC.html" target="_blanck")
                        em Campus
                        |  João Câmara
                    |  e do 
                    a(href="https://www.even3.com.br/novembronegrospp2020/" target="_blanck")
                        em Campus
                        |  São Paulo do Potengi
                    | ", afirmou Gilson .
                p
                    | "Para o Instituto Federal do Rio Grande do Norte e todos os seus 22 campi tem sido um momento de
                    | reafirmação do compromisso com a coerência de uma história centenária da Instituição, que sempre
                    | priorizou pela formação de cidadãs e cidadãos críticos e, consequentemente, inconformados com qualquer
                    | tipo de injustiça, discriminação e autoritarismo. Dessa forma, os Núcleos locais do Neabi-IFRN tomaram
                    | a feliz decisão de unirem suas programações, que podem ser acessadas pelo portal do evento, onde as
                    | pessoas interessadas poderão ver as referidas programações por dia, se inscreverem e acompanharem de
                    | acordo com suas preferências", complementou Gilson Rodrigues, que é professor da disciplina Sociologia
                    | no Campus Pau dos Ferros.
                p
                    strong Acesse:
                .destaque2
                    a(href="https://dougmns12.github.io/Novembro-Negro---NEABI-IFRN/" target="_blanck")
                        b Portal sistêmico do Novembro Negro no IFRN
                br
                p Fonte: Portal IFRN.