extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 NUARTE e NEABI promovem a I Semana da Sétima Arte
            p 11/09/2019 - A programação acontece entre os dias 9 e 13
        .col-sm
            .img_noticias
                img(src="../img/Pato.jpeg" width="350px" height="280px" alt="servidores")
        div
            div 
                p
                    | O Campus São Gonçalo do Amarante do IFRN promove a I Semana da 7ª Arte, uma iniciativa dos núcleos NUARTE
                    | e NEABI, sob organização dos professores Martha Gurgel e Fernando Domingos, respectivamente.
                    | A programação acontece de 9 a 13 de setembro e conta com diversas atividades.
                p Confira a programação:
                table.table
                    thead
                        tr
                            th Data
                            th Evento
                    tbody
                        tr
                            td 9 e 10
                            td Exposição de curta-metragens feitos pelos alunos do Campus
                        tr
                            td 12
                            td
                                | 8h às 12h - Minicurso "Roteiro"
                                br
                                | 14h às 18h - "Lendo e escrevendo imagens"
                        tr
                            td 13
                            td
                                | 8h às 12h - Minicurso "Roteiro"
                                br
                                | 8h50 - Lançamento do curta-metragem "O Pato" (auditório)
                                br
                                | 13h - Segunda seção do curta-metragem "O Pato" (auditório)
                p
                    strong Exposição dos alunos
                p
                    | A mostra dos curta-metragens exibida pelos alunos é fruto de atividades desenvolvidas em sala pela
                    | professora Martha Gurgel, na disciplina de Arte I, em 3 turmas dos cursos técnicos integrados.
                p
                    strong Minicursos
                p
                    | Os minicursos serão ministrados pela cineasta Cristiane Fragoso, ambos no Miniauditório. O minicurso de
                    | roteiro tem duração de 8 horas e será ministrado em 2 dias (quinta e sexta), no turno da manhã.
                    | Por sua vez, o minicurso "Lendo e escrevendo imagens" terá duração de 4 horas e será ministrado na
                    | quinta à tarde. As inscrições poderão ser feitas até o início do minicurso, diretamente com os
                    | organizadores do evento.
                p
                    strong O Pato
                p
                    | O curta-metragem "O Pato", com direção de Antônio Galdino e roteiro de Fernando Domingos, foi gravado em
                    | Alagoa Grande/PB, e traz em sua narrativa tradições nordestinas e religiosidade, além do empoderamento
                    | feminino. Conta a história de Cida (Norma Góes), uma nordestina arretada que põe fim ao ciclo de
                    | violência presente em sua casa, tendo sua filha (Ana Júlia, estreante mirim) como inspiração.
                    | A ideia de gravação surgiu durante uma aula do Curso de Cinema, na Universidade de Utah (EUA),
                    | onde o curta foi premiado.
                p
                    | O lançamento do curta acontecerá no Campus, na próxima sexta. Na ocasião, estarão presentes:
                    | Antônio Galdino (diretor), o Fernando Domingos (roteirista), Cristiane Fragoso (assistente de direção),
                    | Norma Góes (protagonista), Polyana Resende e Poty Holanda (compositores da trilha sonora original).
                p Fonte: Portal IFRN.