extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Nuarte abre inscrições de trabalhos artísticos para exposição  
            p 05/11/2020 - As inscrições serão realizadas por formulário eletrônico
        .col-sm
            .img_noticias
                img(src="../img/exposicao de desenho.jpeg" width="350px" height="280px" alt="servidores")
        div
            div 
                p
                    | O Núcleo de Arte (Nuarte) do IFRN - Campus São Gonçalo do Amarante lançou hoje (5) o
                    | Edital de inscrição para a exposição "Desenho, Pintura & Negritude", que acontecerá
                    | dentro da programação sistêmica da Semana da Consciência Negra, evento promovido
                    | pelo Núcleo de Estudos Afro-Brasileiros e Indígenas (Neabi) do IFRN.
                p
                    | Organizada pelo Nuarte e pelo Neabi, em parceria com o Grêmio Estudantil Sérvulo Teixeira
                    | (Gest), a exposição dos 30 trabalhos selecionados será realizada em formato virtual através
                    | do site e redes sociais das entidades organizadoras: NUARTE (https://nuartesga.wixsite.com/home e
                    | @nuarte_sga) ; NEABI (@neabi_sga) ; GEST (@gest.ifrn).
                p
                    | Ressaltamos que, antes do ato da inscrição, os candidatos devem ler o Edital do evento,
                    | publicado também nas redes sociais acima divulgadas.
                p
                    strong Cronograma
                p
                table.table
                    thead
                        tr
                            th Incrição
                            th Seleção
                            th Resultado Final
                    tbody
                        tr
                            td 6 a 13 de novembro
                            td 14 a 16 de novembro
                            td 17 de novembro
                p
                    strong Acesse:
                .destaque2
                    a(href="https://portal.ifrn.edu.br/campus/saogoncalo/arquivos/edital-de-inscricao-para-\
                    a-exposicao-desenho-pintura-negritude/view" target="_blanck")
                        b Edital de inscrição
                .destaque2
                    a(href="https://docs.google.com/forms/d/e/1FAIpQLScervoHW5txvysKp1Q8O9l0FiiiVQE_GA5r\
                    JjUcVniER4hUqQ/viewform" target="_blanck")
                        b Formulario Eletronico
                br
                p Fonte: Portal IFRN.