extends ../templates/layoutnews

block main 
    main.container
        .row
            h2 V Semana da Consciência Negra acontece de 18 a 21 de novembro       
            p 14/11/2019 - Evento traz como tema: "Denegrindo identidades: com quantos adjetivos mascaram quem você é?"
        .col-sm
            .img_noticias
                img( src="../img/consciencia negra pau dos ferros.png" width="350px" height="280px" alt="servidores")
        
        div
            div 
                p
                    | O Núcleo de Estudos Afro-Brasileiros e Indígenas do Campus Pau dos Ferros do IFRN, o NEABI, já está 
                    | preparativos para 
                    strong  a V edição da Semana da Consciência Negra
                    | .
                p
                    | O evento tem início na próxima segunda-feira, 18, e segue até o dia 21 de novembro, devendo
                    | reunir, alunos, servidores e comunidade externa.
                p
                    | Este ano a Semana será realizada em parceria com com os campi Pau dos Ferros da Universidade do Estado 
                    | do Rio Grande do Norte (UERN), Universidade Federal Rural do Semiárido (Ufersa) e Faculdade Evolução 
                    | Alto Oeste Potiguar (Facep), e traz como tema: 
                    strong
                        | "Denegrindo identidades: com quantos adjetivos mascaram
                        | quem você é?"
                    |  .
                p
                    | A programação traz uma série de variadas atividades contemplando rodas de conversa, conferências,
                    | cine-debate, performances artístico-culturais, fóruns, espaços de cuidados, apresentações culturais,
                    | sala de sensibilização, atos públicos, exposição fotográfica, oficinas, entre outras atividades.
                p
                    | O evento é gratuito e extensivo também à comunidade externa. Segundo o Coordenador do evento e do
                    | NEABI do Campus, Prof. Dr. Gilson Rodrigues, o evento também irá ultrapassar os muros da Instituição,
                    | com programação na FACEP e ainda na "Comunidade Pêga", no município de Portalegre (RN).
                br
                p Acesse:
                .destaque2
                    | Site do evento: 
                    a(href="https://www.even3.com.br/vscn2019/" target="_blanck")  https://www.even3.com.br/vscn2019/
                .destaque2
                    a(href="https://docs.google.com/document/d/12bJaqWcleYB2PunsLP30y0BQlrlYMVNhwnrsMeo2f-Q/edit" target="_blanck")  Programação 
                p Fonte: Portal IFRN.