extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Com programação plural e interdisciplinar, VI Semana da Consciência Negra inicia nesta quarta-feira, 18 de novembro           
            p 17/11/2020 - Evento é gratuito e aberto à comunidade externa
        .col-sm
            .img_noticias
                img(src="../img/VI semana da conciencia negra.png" width="350px" height="280px" alt="servidores")
        div
            div 
                p
                    | Tradição no Campus Pau dos Ferros do IFRN, a Semana da Consciência Negra chega à sua sexta edição,
                    | este ano, em formato diferente: totalmente virtual e remota em virtude da pandemia da Covid-19.
                p
                    | Com o tema "Aquilombar-se, res(ex)istir e romper estruturas", o evento apresenta uma programação
                    | plural e interdisciplinar, mostrando que a temática é transversal das humanidades às exatas.
                p
                    | A SCN é promovida pelo Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI), Segundo o Prof.
                    | Dr. Gilson Rodrigues, coordenador do Núcleo, o tema emerge como um ato político e faz referência
                    | ao conceito de “aquilombamento” e “racismo estrutural”, analisados, respectivamente, com profundidade,
                    | por intelectuais negros como Beatriz Nascimento e Silvio de Almeida.
                p
                    | A programação conta com 17 atividades, realizadas nos turnos matutino, vespertino e noturno, através
                    | de palestras, mesas-redondas e rodas de conversa. São 76 profissionais de outras instituições e estados
                    | como convidados para enriquecer os debates e trocas de experiências. Contato com a comissão organizadora
                    | do evento e esclarecimento de dúvidas podem ser efetuados através do e-mail neabi.pf@ifrn.edu.br (NEABI
                    | do Campus Pau dos Ferros).
                p
                    | As inscrições já estão abertas e podem ser feitas até o dia 17 de novembro, através do site do evento.
                    | Acesse a programação, link para inscrições e mais informações em:
                .destaque2
                    a(href="https://www.even3.com.br/viscn2020/" target="_blanck")
                        b Site da Semana da Conciência Negra 2020
                .destaque2
                    a(href="https://www.instagram.com/neabipdf/" target="_blanck")
                        b Perfil do NEABI no instagram
                br
                p
                    strong EXPOSIÇÃO VIRTUAL
                    br
                    | Adicional à programação da VI Semana da Consciência Negra, o NEABI está promovendo uma exposição virtual
                    | de artes visuais como parte da programação da SCN. A exposição traz obras em grafite, pintura digital,
                    | aquarela e fotografia, e acontece entre os dias 18 e 30 de novembro no endereço:
                .destaque2
                    a(href="https://viscn.freesite.host/" target="_blanck")
                        b abre.ai/viscn
                br
                p Fonte: Portal IFRN.