extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Programação Neabi
        .row_noticias
            p 
                a(href="../arquivos/Programacao Neabi - Sao Goncalo.pdf") Programação.pdf  
                | -PDF document, 392 kB (401536 bytes)
            br
            p Fonte: Portal NEABI.