extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Projeto sobre diversidade étnico-racial é encerrado 
            p 30/12/2014 - Iniciativa trabalhou tema junto a escolas do município
        .col-sm
            .img_noticias
                img(src="../img/Projeto sobre diversidade.jpeg" width="350px" height="280px" alt="servidores")
        div
            div 
                p
                    | O projeto de extensão “Diversidade Étnico-Racial: Por Que Estudar Esse Tema na Escola?” foi encerrado
                    | em evento realizado na sexta-feira (19), no Campus São Gonçalo do Amarante. A iniciativa trabalhou o
                    | tema, através de encontros periódicos nos últimos três meses, junto aos gestores de escolas públicas
                    | do município. O último dia de reunião serviu para apresentação dos resultados e relatos das experiências
                    | dos participantes.
                p
                    | O projeto foi elaborado e coordenado pela diretora-geral do IFRN-SGA, Marilac de Castro, com participação
                    | da assistente social Carina Pinheiro, em parceria com o Núcleo de Estudos Afro-Brasileiros e Indígenas
                    | (Neabi).
                br
                p Fonte: Portal IFRN.