extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Prorrogada a permanência da exposição “Étnicos: recuperando histórias”
            p 11/05/2016 - Mostra permanecerá aberta ao público até o dia 13 de julho de 2016
        .col-sm
            .img_noticias
                img(src="../img/Etnicos recuperando historias.jpeg" width="350px" height="280px"
                    alt="etnicos recuperando historias")
        
        div
            div 
                p
                    | O prazo de permanência da exposição “Étnicos: recuperando histórias” no Campus Canguaretama foi
                    | prorrogado, e a mostra permanecerá aberta ao público até o dia 13 de julho de 2016, de segunda à sexta-feira das
                    | 07h às 22h, com entrada gratuita.
                p
                    | A exposição é uma realização do Museu Câmara Cascudo (MCC/UFRN) e apresenta os resultados das
                    | pesquisas realizadas nas comunidades indígenas do Rio Grande do Norte pelo Grupo Paraupaba de Estudos da
                    | Questão Indígena no RN, com curadoria da Antropóloga Jussara Galhardo.
                p
                    | A iniciativa é do NEABI/ Observatório da Diversidade, em parceira com a Coordenação de Extensão -
                    | COEX/CANG, e faz parte das atividades vinculadas às causas e questões indígenas que o IFRN – Campus
                    | Canguaretama desenvolve, em particular na microrregião Litoral Sul, como, por exemplo, a parceria
                    | com Escola Indígena João Lino da Silva (Eleotéreos do Catu) que faz parte do projeto Escolas Apoiadas
                    | do IFRN e o Projeto Saberes Indígenas na Escola (MEC/SECADI).
                br
                p Fonte: Portal IFRN.
