extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Campus Currais Novos realiza reunião para reativação do Núcleo de Estudos Afro-brasileiros e Indígenas.
        .col-sm
            .img_noticias
                img(src="../img/Alunos do Campus Currais Novos.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div 
                p
                    | Realizou-se na manhã do dia 12 de março de 2019, no IFRN Campus Currais Novos, reunião para
                    | reativação do Núcleo de Estudos Afro-brasileiros e Indígenas. O encontro reuniu estudantes, docentes e membro
                    | da equipe técnico-pedagógica com o objetivo de reestruturar o núcleo, recompor comissão, atrair novos
                    | membros e planejar ações que impactem a sua revitalização.
                p
                    | Entre as principais questões, foi discutida a necessidade de mapeamento das comunidades e movimentos
                    | sociais envolvidos com as lutas afro-brasileiras e indígenas da região do Seridó, incluindo visitas
                    | as comunidades Negros do Riacho em Currais Novos e Negros do Rosário em Parelhas.
                p
                    | A reunião tratou também da importância educativa do NEABI nas atividades acadêmicas do Campus
                    | pautando ações que já devem ser iniciadas no próximo dia 21, data em que se comemora o Dia Internacional de
                    | Luta Contra a Discriminação Racial. A atividade pretende sensibilizar e mobilizar para o
                    | enfretamento de questões de discriminação racial e ao mesmo tempo reapresentar o NEABI a comunidade escolar.
                p Fonte: Portal IFRN.