extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Divulgado resultado final da seleção dos projetos oriundos dos NEABI, NAPNE e NUARTE
        .col-sm
            .img_noticias
                img(src="../img/pro-reitoria de extensao.png" width="320px" height="240px" alt="servidores" style="margin-left: 10px;")
        div
            div 
                p
                    | A Pró-Reitoria de Extensão (Proex) do IFRN publicou hoje (6) o resultado final da seleção dos projetos,
                    | vinculados ao edital 012/2018, oriundos dos Núcleo de Estudos Afro-brasileiro e Indígenas (Neabi),
                    | Núcleo de Apoio às Pessoas com Necessidades Educacionais Específicas (Napne) e Núcleo de Arte (Nuarte),
                    | para realizar ações no âmbito do pacto universitário pela promoção do respeito à diversidade, cultura da
                    | paz e direitos humanos.
                h2 Acesse:
                .destaque2
                    a(href="https://portal.ifrn.edu.br/extensao/assessoria-de-programas-e-projetos/EDITAIS%20/2018/edital-012-2018-proex-ifrn-direitos-humano/resultado-final-da-selecao/view" target="_blanck")
                        b Resultado Final
                br
                p Fonte: Portal IFRN.
