extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI) promove reunião na próxima quarta-feira (25)
        .col-sm
            .img_noticias
                img(src="../img/neabi.jpeg" width="345px" height="250px" alt="servidores")
        div
            div 
                p
                    | A Coordenadora do NEABI-MO, Maria Marta de Medeiros, convida os membros do Grupo, alunos e servidores
                    | do Campus Mossoró e a comunidade externa em geral a participarem da reunião que realizar-se-á na próxima
                    | quarta-feira (25), a partir das 9h, na sala de reuniões, do Campus, com a seguinte previsão de pauta:
                p
                ul
                    li
                        p Planejamento 2015 
                    li
                        p Retorno a comunidade do Arrojado 
                    li
                        p Formação de grupo de estudo 
                p
                p
                    strong Obs: pauta em construção (todos podem acrescentar pontos para a pauta)
                br
                p Fonte: Coordenação do NEABI-MO.