extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 NEABI Campi Canguaretama e Cidade Alta promovem reunião
        .col-sm
            .img_noticias
                img(src="../img/Reuniao Canguaretama e Cidade Alta.jpeg" width="350px" height="250px" alt="servidores")
        
        div
            div 
                p
                    | No dia 30 de março de 2017,  representantes dos Núcleos de Estudos Afro-Brasileiros e Indígenas (NEABI) dos campi Canguaretama e Cidade Alta promoveram
                    | uma reunião com o objetivo de trocar experiências, compartilhar ações e projetar parcerias. A atividade aconteceu no Observatório da Diversidade do Campus
                    | Canguaretama, setor responsável pelo fomento e apoio às pesquisas desenvolvidas pelos integrantes do Núcleo de Estudos Afro-Brasileiros e Indígenas, do
                    | Núcleo de Atendimento às Pessoas com Necessidades Educacionais Específicas e do Núcleo de Artes.
                p
                    | Na ocasião, os participantes Flávio Ferreira, Diretor Acadêmico do campus; Nilton Xavier, professor de Artes e coordenador do NEABI Canguaretama; Timótheo Machado,
                    | tradutor intérprete de libras; Fabiana Marcelino, psicóloga; Jean Silva, professor de inglês; Juciara Freitas, professora de Sociologia; Gilene Medeiros, professora
                    | de Geografia; Priscilla Fontenele, coordenadora e professora de Design, e Catarina Albuquerque, Maíra Albuquerque, Guadalupe Valentim, discentes do IFRN, discutiram
                    | a respeito de novas possibilidades de engajamento dos NEABI de ambos os campi, de modo a dialogar mais sobre as perspectivas das comunidades indígenas e quilombolas
                    | diante da contribuição que o Instituto tem demonstrado. Nesse sentido, é importante ressaltar que os representantes do Campus Cidade Alta puderam visitar a aldeia do
                    | Catu dos Eleotérios, onde o Campus Canguaretama realiza pesquisas.
                p
                    | De acordo com o tradutor intérprete de Libras, Timótheo Machado, a reunião também foi uma oportunidade para compartilhar experiências de atuação em comunidades,
                    | assim como um momento para refletir sobre as futuras parcerias.
                p Fonte: Portal IFRN.
