extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Núcleo de Estudos Afro-brasileiros e Indígenas – NEABI promoverá reunião amanhã (30)
        .col-sm
            .img_noticias
                img(src="../img/neabi.jpeg" width="350px" height="230px" alt="logo neabi")
        
        div
            div 
                p
                    | A Coordenadora do NEABI-MO, Maria Marta de Medeiros, convida os membros do Grupo, a comunidade
                    | interna, composta por docentes, discentes e técnicos administrativos, e a comunidade externa em
                    | geral a participarem da reunião que realizar-se-á amanhã (30), a partir das 9h, na sala de reuniões,
                    | do Campus.
                p
                    | A reunião do NEABI-MO visa discutir pontos importantes para a ampliação do grupo, objetivando assim
                    | um trabalho mais amplo, dinâmico e eficaz. Todavia, para que essa meta seja alcançada, se faz
                    | necessário a participação e o apoio das comunidades interna e externa na discussão que será proposta.
                p
                    | Outro ponto relevante que será apresentado na reunião, como forma de socializar, é a visita
                    | realizada por uma parte do atual grupo do NEABI-MO à comunidade do Arrojado (quilombola), no município
                    | de Portalegre. Tendo como principais metas observar as reais necessidades que precisam ser supridas
                    | desse povo, e quais são as possibilidades de estudo que eles têm disponíveis no momento.
                p
                    | Na ocasião, os visitantes que foram à Comunidade do Arrojado também vão apresentar a visão deles
                    | sobre o assunto, se há possibilidade do Grupo adotar a referida comunidade. Em caso positivo,
                    | serão discutidos quais aspectos poderão ser adotados, e a forma que o NEABI-MO poderá ajudá-la,
                    | dentro da real possibilidade que o Grupo dispõe.
                p
                    | E para finalizar, serão abordadas na reunião discussões referentes ao estande do NEABI-MO na EXPOTEC
                    | – 2014, visando concluir os preparativos que o comporão definitivamente. Até o momento, já estão confirmados
                    | à exposição das fotos de algumas pessoas que moram na Comunidade do Arrojado – Portalegre, e a entrega de
                    | panfletos explicando os objetivos e as finalidades do NEABI-MO. A participação do Grupo na EXPOTEC
                    | objetiva torná-lo mais conhecido e interativo entre as Comunidades interna e externa.
                p
                    strong
                        | Contamos com a participação e o apoio de todos, a reunião do NEABI-MO será amanhã (30).
                p Fonte: A Coordenadora do NEABI-MO, Maria Marta de Medeiros.