extends ../templates/layoutnews

block main 
    main.container
        .row
            h2 Núcleo de Estudos Afro-brasileiros e Indígenas realiza reunião para escolha de membros
        .col-sm
            .img_noticias
                img(src="../img/capoeira.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div 
                p
                    | O Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI) convida os estudantes do IFRN Cidade Alta
                    | a participarem das reuniões para a escolha dos representantes dos alunos para o grupo. Os dois
                    | encontros acontecem nesta quinta-feira (31), às 12h e às 18h, na sala 81 do instituto.
                p
                    | O NEABI é um grupo de trabalho que será formado por representantes dos alunos, professores,
                    | técnico-administrativos e equipe técnica-pedagógica. Ele será responsável por promover ações
                    | de ensino, pesquisa e extensão com o intuito de valorizar as diferentes manifestações culturais
                    | de etnias e segmentos sociais, preservando o direito à diversidade.
                p
                    | Os NEABI estão em formação em todos os Campus do IFRN,  com o intuito de consolidá-los acontecerá
                    | o I Seminário sobre Diversidade e Estudos Afro-Brasileiros e Indígenas nos dias 11 e 12 de agosto.
                br
                p Fonte: Portal IFRN.