extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 NEABI promove evento em alusão ao dia da Consciência Negra  
            p 18/11/2019 - Data será marcada pela realização de mesas-redondas, minicursos e oficinas
        .col-sm
            .img_noticias
                img(src="../img/mes da consciencia negra.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div 
                p
                    | O Núcleo de Estudos Afro-brasileiros e indígenas (NEABI) do Campus São Paulo do Potengi do IFRN promove
                    | nesta quarta-feira, 20, uma programação especial em alusão ao Dia da Consciência Negra. Mesas-redondas,
                    | minicursos e oficinas tratarão sobre temas sensíveis e que merecem reflexão na nossa sociedade, como a
                    | visibilidade afrodescendente, o racismo, a intolerância religiosa, as práticas culturais e demais temas
                    | relacionados a história e cultura afrobrasileira.
                p
                    | "Com frequência, as reflexões do mês de novembro em torno do 'dia da consciência negra' são tomadas de
                    | assalto pela retórica de que o ideal seria um dia 'dia da consciência humana'. Essa estratégia discursiva
                    | busca realocar o racismo como um simples desvio de consciência e esconde o fato de que o racismo é o
                    | resultado das relações de poder historicamente construídas com a escravidão, exclusão e inferiorização
                    | do povo negro", destaca o Prof. Kleber Gavião, um dos organizadores do evento.
                .destaque2  Programação
                p
                    | A programação do evento ocorre a partir das 10h20 da manhã no Auditório Fabião das Queimadas e no período
                    | da manhã contará com uma mesa redonda com o tema: "Negritudes: visibilidade afrodescendente no Rio Grande
                    | do Norte". A mesa será composta por Murilo de Oliveira Carvalho (UFRN), Maria Lucia Santos do Nascimento
                    | (Comunidade Quilombola Gameleira em São Tomé/RN) e Franco Willamy Lima da Fonseca (UFRN).
                p
                    | No começo da tarde serão realizadas as oficinas/minicursos que tratarão sobre "O racismo nosso de cada dia", 
                    | "Desmistificando orixás: vivências e práticas" e "Literatura africana: primeiros contatos". Os 
                    | interessados em participar das oficinas/minicursos precisam se inscrever. 
                    | Para se inscrever basta 
                    a(href="https://docs.google.com/forms/d/e/1FAIpQLSeGJhxo8uiEYEfH2UKP8JxhawbpHJVgXRx\
                    To200T4JiEz2LLQ/closedform")  clicar aqui
                    | .
                p
                    | No encerramento do evento, ocorre uma mesa-redonda sobre as "Religiões de matriz Africana em tempos de
                    | intolerância" que contará com as participações de André Luis Nascimento de Souza (UFRN), Gabriela
                    | Siqueira Cavalcante (Ilê Axé Dajo Obá Ogodo - Comum/Extremoz/RN) e Sebastião Leandro de Lima Alcântara
                    | (Ilê Isura Ni Omi Oxum - Macaíba/RN). O evento é gratuito e aberto a participação da comunidade.
                p Fonte: Portal IFRN. 