extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 O Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI) promove Semana de Discussão sobre Consciência Indígena
        .col-sm
            .img_noticias
                img(src="../img/Semana de discussão sobre consciencia indigena.jpeg" width="350px" height="220px" alt="servidores")
        
        div
            div 
                p
                    | O Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI) do Campus São Gonçalo do Amarante do IFRN,
                    | coordenado pela professora Candice Firmino de Azevedo, promoveu, durante esta semana, a Semana de
                    | Discussão sobre Consciência Indígena. Dos dias 16 a 20 do mês de abril, o NEABI realizou discussões
                    | em sala de aula, exposições fotográficas e atividades de fomentação cultural.
                p
                    | No decorrer da semana, foram exibidos, em sala de aula, curtas e documentários sobre tribos, personalidades
                    | indígenas, contexto situacional e habitacional desses povos, representatividade, rituais e vários outros aspectos,
                    | seguidos de discussões sobre a temática do índio como parte da construção da identidade nacional.
                p
                    | Também foi parte da programação do evento a exposição fotográfica “INDÍGENAS, POTIGUARES E TAPUIAS - AFIRMAÇÃO DE SUAS
                    | IDENTIDADES”, que retrata a luta, personagens e o cotidiano das cinco comunidades do Rio Grande do Norte que pedem o
                    | reconhecimento como de origem indígena, promovida pelo antropólogo e ativista do movimento indígena Lenilton Lima.
                p Fonte: Portal IFRN.