extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Semana da Consciência Negra é celebrada com programação cultural  
            p 19/11/2018 - Programação reúne música, teatro, roda de conversa e declamação de poesias até sexta (23)
        .col-sm
            .img_noticias
                img(src="../img/Natal Central SCN.png" width="350px" height="280px" alt="servidores")
        
        div
            div 
                p
                    | O Dia da Consciência Negra, celebrado no dia 20 de novembro, vai ganhar no Campus outros três dias de
                    | programação. De hoje (19) até sexta-feira (23) – exceto na quarta-feira (21), feriado municipal –
                    | vão acontecer diversas intervenções culturais voltadas às questões afro-brasileiras, em alusão à
                    | Semana Nacional da Consciência Negra.
                p
                    | "Nosso objetivo é difundir conhecimentos, saberes e fazeres que contribuam para a promoção da equidade
                    | racial e dos Direitos Humanos, tendo como perspectiva a superação do racismo e outras formas de
                    | discriminações", explicou o professor Evaldo Pulcinelli, coordenador da iniciativa.
                p
                    | De acordo com Evaldo, as atividades vão incluir roda de conversa, apresentação de cartazes, roda de
                    | capoeira, exibição de musicais, declamação de poesias e participação a participação de artistas da
                    | música e do teatro.
                p
                    | As ações estão sendo organizadas pelo NEABI – Núcleo de Estudos e Pesquisas Afro-brasileiros e Indígenas
                    | do Campus, um espaço em formação, cujo propósito é discutir as relações etnicorraciais na sociedade
                    | brasileira, buscando fomentar estudos, pesquisas e extensão, a partir do desenvolvimento de programas
                    | e projetos em diversas áreas do conhecimento.
                p
                    | Para ver a programação da Semana, 
                    a(href="../arquivos/Natal Central - Programacao Semana de Consciencia Negra.pdf") clique aqui.
                br
                p Fonte: Portal IFRN.