extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 O Campus Macau promove a Semana da Consciência Negra
            p 19/11/2020 - O evento é organizado pelo Núcleo de Estudos Afro-Brasileiros e Indígenas (NEABI/MC)
        .col-sm
            .img_noticias
                img(src="../img/Semana da consciencia negra em Macau.jpeg" width="350px" height="400px" alt="servidores")
        
        div
            div 
                p
                    | O Núcleo de Estudos Afro-brasileiros e Indígenas do Campus Macau (NEABI / MC) convida a todos/as/es a participarem da programação da SEMANA DA CONSCIÊNCIA
                    | NEGRA em referência ao Dia da Consciência Negra, celebrado no Brasil em 20 de novembro. O objetivo é promover discussões sobre identidade, racismo e
                    | desigualdade social, a fim de promover reflexão sobre os papéis desempenhados pela população negra em diferentes esferas da sociedade.
                p
                    | O Núcleo de Estudos Afro-Brasileiros e Indígenas é uma iniciativa política e pedagógica que busca promover e fomentar a reflexão acerca dos movimentos
                    | históricos, culturais e discursivos da sociedade, resultantes das relações estabelecidas entre os diferentes segmentos sociais e etnias no âmbito das
                    | culturas, das artes e dos movimentos sociais.
                p
                    | O NEABI do IFRN é um grupo de trabalho responsável por fomentar ações, de natureza sistêmica,
                    | no âmbito do ensino, da pesquisa e da extensão, que promovam o cumprimento efetivo das Leis 10.639/2003
                    | e 11.645/2008 e dos demais instrumentos legais correlatos. O NEABI é formado por professores, técnicos-
                    | administrativos, alunos e ativistas de movimentos sociais.
                p
                    strong Como participar:
                    br
                    | O evento acontecerá de forma online e será transmitido pelo nosso canal no YouTube:
                    br
                    a(href="https://www.youtube.com/channel/UCh2fsFKgwrshjGSmGyrwCFQ" target="_blanck")  CANAL NEABI MACAU - YOUTUBE 
                    br
                    | Além disso, outros Campi do IFRN prepararam uma programação riquíssima que pode ser conferida aqui nesse link:
                    br
                    a(href="https://dougmns12.github.io/Novembro-Negro---NEABI-IFRN/" target="_blanck")  Portal Sistêmico do Novembro Negro 
                p
                    strong Você poderá fazer sua inscrição no link:
                    br
                    a(href="https://suap.ifrn.edu.br/eventos/inscricao_publica/1981/" target="_blanck")  INSCRIÇÃO NA SEMANA DA CONSCIÊNCIA NEGRA - CAMPUS MACAU 
                p
                    | A 
                    a(href="../arquivos/PROGRAMAÇÃO DA SEMANA DE CONSCIÊNCIA NEGRA.pdf")  PROGRAMAÇÃO 
                    | irá acontecer hoje e amanhã, dias 19 e 20 de novembro de 2020. Não percam.
                br
                p Fonte: Portal IFRN. 