extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Seminário discutiu sobre relações étnico-raciais nas ações institucionais
        .col-sm
            .img_noticias
                img(src="../img/I seminario.jpeg" width="350px" height="520px" alt="servidores")
        
        div
            div 
                p
                    | O 
                    strong
                        em
                            | I Seminário sobre diversidade étnico-racial: estudos afro-brasileiros e
                            | indígenas
                    | , organizado pelo NEABI-IFRN,
                    | aconteceu de 11 a 12 de agosto, no Campus Natal-Central
                p
                    | De acordo com a Diretoria Pedagógica do IFRN, o encontro significou um passo firme na consolidação
                    | dos Núcleos Avançados do NEABI/IFRN em toda a Instituição,
                    | assim como representa uma ação conveniente do IFRN no atendimento às exigências curriculares
                    | nacionais de educar para as relações étnico-raciais na educação básica, na educação profissional tecnológica e na formação de professores.
                p
                    | O evento de dois dias contou com a presença de 260 participantes, dentre eles, integrantes do Núcleos
                    | de Estudos Afro-Brasileiros e Indígenas do IFRN (NEABI), docentes, estudantes, técnico-administrativos e integrantes de movimentos sociais
                    | ligados a questões étnicas.
                p
                    | As discussões versaram sobre pesquisas realizadas acerca da constituição étnica do povo
                    | norte-rio-grandense, etnogênese e territorialização, mapeamento e identificação das comunidades indígenas e quilombolas
                    | do RN, assim como questões políticas e sociais dessas comunidades no Rio Grande do Norte
                p
                    | A programação contou com a contribuição de profissionais da UFRN, FUNAI, IFRN, Museu Câmara Cascudo,
                    | UFPB, lideranças de movimentos sociais
                    | ligados à temática e com a interlocução significativa dos integrantes do NEABI ifrneano
                p
                    | O ponto alto do evento foram as rodas de conversas e intervenções dos representantes de comunidades
                    | indígenas e quilombolas do RN, relatando sua cultura,
                    | modos de vida, educação e lutas políticas na busca de condições de igualdade e justiça social. Além
                    | disso, o seminário trouxe poesia e arte com exposição fotográfica, feira de artesanato, dança e música
                    | indígenas e afro-brasileiras.
                p
                    | Para os integrantes do NEABI-IFRN foi uma experiência ímpar de formação e de abertura de
                    | possibilidades para a atuação dos campi na temática das relações
                    | étnico-raciais. O evento culminou com uma oficina de planejamento das ações dos núcleos em cada
                    | campus. A partir dessa vivência, os núcleos do NEABI-IFRN tomarão novas dimensões na atuação local e sistêmica.
                p
                    | “O evento foi pensado não apenas para o cumprimento de uma demanda do MEC, mas por entender uma
                    | demanda que surgiu com a expansão do IFRN, que chega
                    | amplamente à todas as regiões do estado e precisava iniciar, de modo sistêmico, ações afirmativas
                    | para sobretudo, incluir alunos oriundos de comunidades
                    | indígenas e quilombolas”, comentou a professora e uma das organizadoras do evento, Nadja Costa
                p
                    | Do ponto de vista das ações institucionais, o seminário visou: fortalecer a implantação dos Núcleos
                    | de Estudos Afro-Brasileiros e Indígenas do IFRN (NEABI);
                    | subsidiar a implementação e o desenvolvimento de políticas e ações de ensino, pesquisa e extensão
                    | sobre as várias dimensões das relações
                    | étnico-raciais nos campi do IFRN; e propiciar formação continuada sobre os estudos Afro-Brasileiros
                    | e Indígenas
                br
                p Fonte: Portal IFRN.