extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 NEABI promove Seminário Regional de Estudos Afro-Brasileiros e Indígenas: “Diversidade, Memória e Literatura”.
        .col-sm
            .img_noticias
                img(src="../img/diversidades, memorias e literatura.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div 
                p
                    | O Seminário Regional de Estudos Afro-brasileiros e Indígenas: “Diversidade, Memória e Literatura” faz
                    | parte do Plano de Ação do Núcleo de Estudos Afro-brasileiro e Indígena do IFRN - Campus Santa Cruz
                    | (NEABI).
                p
                    | O evento se constitui como espaço de formação política e pedagógica, e tem por finalidade permitir o
                    | debate, a reflexão articulando o exercício da cidadania com as questões voltadas para a diversidade,
                    | para a educação das relações étnico-raciais no âmbito escolar, entendida enquanto direito humano
                    | fundamental.
                p
                    | Em meio às discussões sobre direitos humanos, cidadania e educação, a realização deste Seminário se
                    | constitui como uma contribuição no processo de entendimentos dos desafios e potencialidades do processo
                    | de ensino na Educação Básica e Superior no contexto de uma formação para a cidadania plena. E, para
                    | mediar esta discussão, considerando a complexidade dos conhecimentos que envolvem as questões étnicas,
                    | escolhe-se a temática: Diversidade, Memória e Literatura, por entender que esta temática permite o
                    | diálogo e aborda conceitos estruturantes para a conscientização, compreensão e proposições, diante
                    | dos desafios e possibilidades, de ação educativa.
                p
                    | As inscrições estão abertas até o dia 30 de junho, os interessados devem preencher e 
                    | enviar o 
                    a(href="../arquivos/FICHA DE INSCRICAO NEABI.docx")  formulário 
                    |  de inscrição para o e-mail: 
                    strong  neabi.sc@gmail.com 
                p
                    | O evento será realizado no Campus Santa Cruz, dia 13 de julho, das 08h00 às 18h00.
                p
                    | Público-Alvo: Profissionais da educação e áreas afins; pesquisadores; membros do NEABI;
                    | Estudantes da Educação Básica e Superior e membros da comunidade pela temática.
                br
                .destaque2
                    a(href="../arquivos/FICHA DE INSCRICAO NEABI.docx" target="_blanck")
                        b Formulário de inscrição
                .destaque2
                    a(href="../arquivos/Seminario Regional de Estudos Afro Programacao...pdf" target="_blanck")
                        b Programação
                br
                p Fonte: Portal IFRN.