extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Novembro negro: Um relato sobre a segunda edição do evento
        .col-sm
            .img_noticias
                img(src="../img/Novembro negro relato.jpeg" width="350px" height="280px" alt="servidores")
        
        div
            div 
                p
                    | A segunda edição do Novembro Negro contou com várias participações externas, na terça (19)
                    | abrimos os trabalhos com um café coletivo, acompanhado em seguida de um ritual de pagelança,
                    | feita no CV com o público presente pelo page Guaracypagekatu, do Katu. A pagelança é uma dança
                    | circular xamânica, de origem indígena, que convida os presentes a entrar na roda para tocar
                    | e dançar.  O objetivo da apresentação e integração foi a demonstração à comunidade escolar
                    | de outros rituais étnicos de origem brasileira.
                p
                    | Após a pagelança, Cristina Moreno e Diego Almeida apresentaram a dança Laroyê, que representa a
                    | abertura dos caminhos, em seguida todos foram ao canteiro, indicado pela gestão, para plantar
                    | um Baobá e um muda de jurema, representando a fertilidade e perenidade. Após o plantio, uma
                    | discussão sobre memória, identidade e resistência dos povos indígenas, representados pelo cacique
                    | Luis do Katu e pelas irmãs Luíza Mara e Luíza Helena de Picadas, representando o povo quilombola.
                    | Na mesa, o debate aconteceu em interação com o público presente, e o foco girou em torno da identidade
                    | e da luta de ambos os povos para serem reconhecidos pelo próprio povo brasileiro e pelo Estado, como
                    | portador de direitos específicos a sua existência. A tarde da terça foi recheada de momentos culturais,
                    | tivemos rodas de capoeira e samba de roda, e para finalizar o dia, a quinta edição do Sarau da
                    | Caatingueira, com a participação, entre outros, do coral Vale Vocalis, da rapaziada do rap de Assu
                    | e do pagé, que junto às mulheres e seus tambores, resultado da oficina de tambores, ministrada pela
                    | professora de música, Luciana Real, fez uma celebração à mãe terra.
                p
                    | A quarta, dia 20, foi bem movimentada. Com o dia inteiro de debates, pitura em parede que compõe o
                    | Centro de Vivência do Campus,  e muita música.
                p
                    | Pela manhã, o coletivo "Maria bonita", construído com moças do campus, abre os trabalhos com a exibição
                    | do filme "histórias cruzadas" com o objetivo de discutir sobre a mulher negra. O debate foi intenso,
                    | rico em depoimentos e reflexões sobre o racismo no Brasil e o sofrimento das mulheres denominadas
                    | "de cor".
                p
                    | Á tarde, momento de conversa com Pai Judson, de Assu, que atiçou  a curiosidade dos presentes e
                    | tirou muitas dúvidas acerca de sua religião, ajudando-nos a desmistificar e romper com os preconceitos
                    | sobre os rituais religiosos afro-indígenas brasileiros. Logo em seguida, tivemos nosso professor de
                    | sociologia, Valdemiro Filho (Miro), apresentando a sua pesquisa sobre terreiros, sambas e carnavais.
                    | Paralelo ao debate, Gilvam Lopes, artista plástico da região, abrilhantou o nosso CV com sua arte mural,
                    | com a ajuda de alunos e presentes.
                p
                    | Para encerrar, à noite, tivemos o show de Laryssa Costa e banda que fechou com chave de ouro as discussões
                    | dos dias, com seu show "Rosas e rezas" e a participação de um público alegre e participante.
                p
                    | Nosso objetivo com o evento foi refletir e viver um pouco de nossa diversidade, na escola.
                p
                    | Agradecemos a todos e todas que colaboraram de alguma forma para a realização desse momento.
                p Equipe NUARTE e NEABI, Campus Ipanguaçu. 
                p Fonte: Portal IFRN. 