extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 VI Semana da Consciência Negra acontece em novembro e já está com inscrições abertas
        .col-sm
            .img_noticias
                img(src="../img/VI semana da conciencia negra.png" width="350px" height="280px" alt="servidores")
        
        div
            div 
                p
                    | O Núcleo de Estudos Afro-brasileiros e Indígenas (NEABI) do Campus Pau dos Ferros do IFRN já
                    | prepara a VI edição da Semana da Consciência Negra (SCN), que acontece no período de 18 a 20
                    | de novembro de 2020, em formato virtual e remoto.
                p
                    | O evento é gratuito e aberto ao público em geral. Em sua sexta edição, a SCN traz como tema 
                    strong
                        | "Aquilombar-se,
                        | res(ex)istir e romper estruturas"
                    | .  Segundo o Prof. Dr. Gilson Rodrigues, também coordenador do NEABI,
                    | o tema emerge como um ato político e faz referência ao conceito de “aquilombamento” e “racismo estrutural”,
                    | analisados, respectivamente, com profundidade, por intelectuais negros como Beatriz Nascimento e Silvio de
                    | Almeida. "Nesta edição, o evento traz uma programação plural e interdisciplinar, mostrando que a temática
                    | é transversal das humanidades às exatas", detalha.
                p
                    | A programação conta com 17 atividades, realizadas nos turnos matutino, vespertino e noturno, através
                    | de palestras, mesas-redondas e rodas de conversa. São 76 profissionais de outras instituições e estados
                    | como convidados para enriquecer os debates e trocas de experiências
                p
                    | Contato com a comissão organizadora do evento e esclarecimento de dúvidas podem ser efetuados através do 
                    | e-mail 
                    strong neabi.pf@ifrn.edu.br
                    |  (NEABI do Campus Pau dos Ferros).
                p
                    | As inscrições já estão abertas e podem ser feitas até o dia 17 de novembro, através do site do evento. Acesse a programação,
                    | link para inscrições e mais informações em:
                br
                .destaque2
                    a(href="https://www.even3.com.br/viscn2020/" target="_blanck")
                        b Site da Semana da Conciência Negra 2020
                .destaque2
                    a(href="https://www.instagram.com/neabipdf/" target="_blanck")
                        b Perfil do NEABI no instagram
                br
                p Fonte: Portal IFRN.