extends ../templates/layoutnews 

block main 
    main.container
        .row
            h2 Núcleo de Estudos Afro-brasileiros e Indígenas do campus Canguaretama recebe visita de servidores
                |para formação e pareceria
        .col-sm
            .img_noticias
                img(src="../img/servidores.jpeg" width="350px" height="300px" alt="servidores")
        div
            div
                p
                    | No dia 02 de maio de 2018, o NEABI do IFRN campus Canguaretama recebeu a visita dos professores
                    | Arthur Luiz de Oliveira Torquato e Síntia Soares Helpes, representantes do NEABI do IFRN campus
                    | avançado Lajes. O objetivo da visita foi conhecer como se organiza e quais ações desenvolvidas na
                    | esfera do NEABI no IFRN Canguaretama, ponderando que os trabalhos do grupo em Lajes, constituído a
                    | pouco mais de um mês, ainda é recente.
                p
                    | Na ocasião, os professores conheceram o espaço do “Observatório da Diversidade” onde ocorrem as
                    | reuniões do NEABI, NAPNE e NUARTE, foram informados sobre as principais ações do NEABI Canguaretama
                    | para 2018 no âmbito do ensino, da pesquisa e da extensão. Conversaram com o Diretor Acadêmico, Prof.
                    | Flávio Ferreira e acompanharam o início do processo de documentação do acervo próprio do NEABI com a
                    | constituição das coleções indígena e afro-brasileira, a serem posteriormente disponibilizadas para
                    | consulta pública.
        .row
            p
                | No mesmo dia, visitamos a comunidade indígena do Catu, onde foram apresentados a lideranças
                | locais e visitaram as escolas João Lino da Silva e Alfredo Lima. Ao final, foram firmados compromissos
                | de estabelecimento de diálogos e parcerias entre os campi visando o fortalecimento das ações do NEABI
                | no IFRN.
            br
            p Fonte: Portal IFRN. 
