section
    #carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride = "carousel")
        .carousel-inner
            .carousel-item.active
                a(href="http://www.justicadesaia.com.br/festival-de-cinema-marca-a-luta-pelo-protagonismo-da-mulher-negra-na-setima-arte/" target="_blank" ) 
                    img.d-block.w-100(src="img/just saia.jpg" width="1400px" height="450px" alt="...") 
            .carousel-item
                a(href="http://www.justicadesaia.com.br/festival-de-cinema-marca-a-luta-pelo-protagonismo-da-mulher-negra-na-setima-arte/" target="_blank" ) 
                    img.d-block.w-100(src="img/aqualtune.jpg" width="1400px" height="450px" alt="...") 
            .carousel-item 
                a(href="http://www.justicadesaia.com.br/festival-de-cinema-marca-a-luta-pelo-protagonismo-da-mulher-negra-na-setima-arte/" target="_blank" ) 
                    img.d-block.w-100(src="img/victoria santa.jpg" width="1400px" height="450px" alt="...")
            .carousel-item 
                a(href="http://www.justicadesaia.com.br/festival-de-cinema-marca-a-luta-pelo-protagonismo-da-mulher-negra-na-setima-arte/" target="_blank" ) 
                    img.d-block.w-100(src="img/luizabairros.jpg" width="1400px" height="450px" alt="...")
            .carousel-item 
                a(href="http://www.justicadesaia.com.br/festival-de-cinema-marca-a-luta-pelo-protagonismo-da-mulher-negra-na-setima-arte/" target="_blank" ) 
                    img.d-block.w-100(src="img/Tereza.jpg" width="1400px" height="450px" alt="...")