header.menu-area
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
            img.navbar-brand(src="img/Logo-NEABI-horizontal- SEM FUNDO.png" width="200px" height="70px")
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon 

            .collapse.navbar-collapse#navbarNav
                ul.navbar-nav.mx-auto(style="width: 0rem;")
                    li.nav-item
                        a.nav-link.text-dark(aria-current="page" href="index.html") Inicio  
                            
                    li.nav-item
                        a.nav-link.text-dark(aria-current="page" href="Conceitos.html") Conceitos
                            
                    li.nav-item 
                        a.nav-link.text-dark(href="noticias.html") Notícias
                            
                    li.nav-item 
                        a.nav-link.text-dark(href="depoimentos.html") Depoimentos
                            
                    li.nav-item
                        a.nav-link.text-dark(href="duvidas.html") Dúvidas
                            
                    li.nav-item 
                        a.nav-link.text-dark(href="Sobre.html") Sobre
                            
                    li.nav-item 
                        a.nav-link.disabled(href="#" tabindex="-1" aria-disabled="true")