@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
main{
    font-family: "Poppins", sans-serif;
    min-height: 50vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .index{
 
    min-width: 100px;
     min-height: 100px;
  
 }