footer.footer
    .container.p-6
        .row.justify-content-md-center
            .footcontent.col-lg-3.col-md-3.mb-4.mb-md-0
                h4.text-light Contatos: 
                ul.list-unstyled.mb-0
                    li
                        i.fa.fa-envelope-o.fa-2x(aria-hidden="true")
                        p.p_redes
                            a(href="http://neabiifrn@gmail.com" target="_blanck") neabi.ifrn@gmail.com
                    li
                        i.fa.fa-instagram.fa-2x(aria-hidden="true")
                        p.p_redes 
                            a(href="http://www.instagram.com/neabipdf/" target="_blanck") @neabipdf
            .footcontent.col-lg-3.col-md-3.mb-4.mb-md-0
                h4.text-light Organização:
                ul.list-unstyled.mb-0
                    li
                        h1.text-light Gilson Rodrigues
                        h1.text-light Francisco Lucena
            .footcontent.col-lg-3.col-md-3.mb-4.mb-md-0
                h4.text-light Apoio:
                ul.list-unstyled.mb-0
                    li 
                        .col-xs-12(style="justify-content: flex-end;")
                            img(src="img/LogoIFRN- branca.png" width="190px" height="80px" alt="Logo IFRN")